<html>
<head>
<meta mailtype="alternatif"/>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>SMARTALBUM</title>
<style>
a {
	text-decoration:none;
	color:#000000;
}
a:hover {
	text-decoration:none;
	color:#000000;
}
</style>
</head>
<body>
<blockquote>&nbsp;</blockquote>
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="21" bgcolor="#F3F3F3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
                <td align="right" nowrap><font style="font-family:Arial, Helvetica, sans-serif; font-size:18px;" face="Arial, Helvetica, sans-serif" size="-1"><font color="#6c6c6c">Vos</font> <font color="#dc1800">identifiants</font></font></td>
              </tr>
            </table></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="${akamaiHost}/img/warning.gif" /></td>
        </tr>
        <tr>
          <td width="100%" height="8"><table width="85%" height="51" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="19" valign="top"><font style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" face="Arial, Helvetica, sans-serif" size="-1"> <strong> ${civilite} ${prenom} ${nom}</strong> </font> </td>
              </tr>
              <tr>
                <td><font style="font-family:Arial, Helvetica, sans-serif; font-size:12px;" face="Arial, Helvetica, sans-serif" size="-1"><br>
                  Suite &agrave; votre demande nous avons le plaisir de vous communiquer votre mot de passe pour acc&eacute;der &agrave; votre compte sur le site <a href="${akamaiHost}?cpid=t6gestreinitmdp">smartalbum</a>.<br>
                  Nous ne vous demanderons jamais de nous transmettre votre mot de passe en claire. Par mesure de s&eacute;curit&eacute;, nous vous invitons &agrave; supprimer cet email d&egrave;s que vous aurez m&eacute;moris&eacute; votre mot de passe.<br>
                  <br>
                  <table bgcolor="#f9fafa" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td style="border-bottom: 1px solid rgb(204, 204, 204);" height="19" width="29%"><font style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Votre identifiant:</font></td>
                        <td style="border-bottom: 1px solid rgb(204, 204, 204);" width="71%"><font style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" face="Arial, Helvetica, sans-serif" size="-1">${identifiant}</font></td>
                      </tr>
                      <tr>
                        <td style="border-bottom: 1px solid rgb(204, 204, 204);"><font style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" face="Arial, Helvetica, sans-serif" size="-1">&nbsp;Votre mot de passe :</font></td>
                        <td style="border-bottom: 1px solid rgb(204, 204, 204);"><font style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" face="Arial, Helvetica, sans-serif" size="-1">${password}</font></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  </td>
                      </tr>
                    </tbody>
                    
                  </table>
                  <font style="font-family: Arial,Helvetica,sans-serif; font-size: 12px;" face="Arial, Helvetica, sans-serif" size="-1"> <br>
                  Merci de ne pas utiliser la fonction "R&eacute;pondre" de votre messagerie. <br>
                  <br>
                  </font> </td>
              </tr>
              <tr>
                <td valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="70%" height="32">&nbsp;</td>
                      <td align="right" width="30%" style="padding-top:10px;"><span style="font-weight: bold"><font style="font-family:Arial, Helvetica, sans-serif; font-size:14px" face="Arial, Helvetica, sans-serif" size="-1">A bient&ocirc;t sur <a href="${akamaiHost}"><font color="#000000">Smartalbum</font></a></font></span></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td><img src="${akamaiHost}/img/titre_bkgrd.gif" /></td>
        </tr>
        <tr>
          <td align="center"><img src="${akamaiHost}/img/mini_palette.jpg" height="15" width="100%" /></td>
        </tr>
        <tr>
          <td align="center"><font color="#6e7577" style="font-family:Arial, Helvetica, sans-serif; color:#000000; font-size:10px" face="Arial, Helvetica, sans-serif" size="-2"><br />
            Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s, vous disposez d'un droit d'acc&egrave;s ainsi que d'un droit<br />
            d'information compl&eacute;mentaire, de rectification et d'opposition sur les donn&eacute;es vous concernant,<br />
            utilis&eacute;es par SMARTALBUM pour la gestion de votre compte et pour toute op&eacute;ration de marketing direct.<br />
            Vous pouvez vous opposer &agrave; leur communication &agrave; des tiers<br />
            (communication &agrave; des fins d'&eacute;tude ou de prospection pour des op&eacute;rations commerciales).<br />
            Pour exercer vos droits, envoyez un courrier avec vos nom, pr&eacute;nom et copie de votre pi&egrave;ce d'identit&eacute; &agrave; :<br />
            Clients Abonn&eacute;s : SMARTALBUM / M'VOU / Lefeuvre - Service Clients - Acc&egrave;s, Rectification, Opposition - 6 All&eacute;e Louise Bourgeois 94800 Villejuif.<br /> </font> </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>