* { margin: 0; padding: 0; outline:0; }
html,body { height: 100%; }
body {
    font-size: 13px;
    line-height: 18px;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #505150;
    background: #000;
}

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }
fieldset { border: 0; }

h1,h2,h3,h4,h5 { text-transform: uppercase; }
h2,h3,h4,h5 { font-weight: normal; color: #505150; }
h1 { font-size: 24px; line-height: 31px; color: #151515; font-family: Helvetica, Arial, sans-serif; }
h2 { font-size: 24px; line-height: 31px; }
h3 { font-size: 22px; line-height: 28px; }
h4 { font-size: 18px; line-height: 24px; }
h5 { font-size: 16px; line-height: 21px; }
h6 { font-size: 12px; color: #00aeef; margin-bottom: 5px; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -419px; background: #fff; }
#wrapper2 { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -34px; }
.center { width: 980px; margin: 0 auto; }
.last { margin-right: 0 !important; }

.entry { margin-bottom: 30px; }
.entry h2.title { line-height: 28px; color: #151515; text-transform: none; font-family: Helvetica, Arial, Sans-serif; border-bottom: 2px solid #ededed; padding-bottom: 10px; margin-bottom: 10px; font-weight: bold; height: 100%; }
.entry h5.title { text-transform: none; font-size: 14px; font-weight: bold;} 
.entry a { color: #505150; text-decoration: underline; }
.entry a:hover { text-decoration: none; }
.entry p { margin-bottom: 15px; }
.entry ul, .entry ol { list-style-position: inside; }
.entry table { border-collapse:collapse; margin-bottom:40px; }
.entry th { border:solid 1px #fff; background:#00aeef; color:#fff; padding:3px 10px; text-align: center; }
.entry td { border:solid 1px #fff; padding:3px 10px; text-align: center; background:#ececec; color: #505150; font-weight: bold; }
.entry td a { color:#505150; text-decoration: underline; }
.entry td a:hover { color:#8d2c2d; text-decoration: none; }
.entry blockquote { border-left: 4px solid #00aeef; font-style: italic; padding-left: 15px; }
.general-title { border-bottom: 2px solid #ededed; padding-bottom: 8px; margin-bottom: 8px; }
.general-title h2,
.general-title h4 { text-transform: none;  }
.general-title h2 { line-height: 24px;}
.general-title h2 { font-weight: bold; color: #151515; font-family: Helvetica, Arial, sans-serif; }
.general-title h4 { color: #00aeef; line-height: 18px; }
.entry a.images { border: 1px solid #d5d5d5; display: block; margin-bottom: 5px; }
.entry a.images img { display: block; }
.entry .more { display: block; color: #00aeef; font-weight: bold; font-size: 13px; text-decoration: none; }
.entry .more:hover { color: #151515; }

.styles .general-title { border: 0; }

.col { float: left; display: inline;  }
.col-2 { width: 470px; margin-right: 40px; }
.col-3 { width: 300px; margin-right: 30px; }
.col-4 { width: 290px; margin-right: 55px; }
.col-4 .images { width: 287px; }
.col-4 .more { text-decoration: underline; }
.col-4 p { line-height: 23px; }
.col-5 { width: 310px; margin-right: 30px; }
.col-5 .images { width: 301px; padding: 4px; }

.box { background-repeat: repeat-y; background-position: 0 0;}
.box-b { background-repeat: no-repeat; background-position: 0 bottom; }
.box-t { background-repeat: no-repeat; background-position: 0 top; }

.validate-form { padding-top: 15px;}
.row { width: 653px; margin-bottom: 10px; }
.row .field, .row .message { float: left; display: inline; font-family: Tahoma,Arial, sans-serif; border: 1px solid #b2b2b2; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; -moz-box-shadow: inset 1px 2px 1px #d9d9d9; -webkit-box-shadow: inset 1px 2px 1px #d9d9d9; }
.row .field { width: 260px; height: 18px; line-height: 17px; background-color: #fff; padding: 5px; color: #454545;   }
.row .field-focus { border: 1px solid #626262  !important; }
.row .message { width: 640px; height: 158px; }
.row label { float: left; display: inline; width: 300px; margin-left: 13px; text-align: left; color: #000; padding-top: 7px; }
.row .form-btn { float: right; display: inline; width: 69px; height: 35px; background: url(images/contact-form-btn.gif) no-repeat 0 0;  color: #00aeef; font-size: 13px; font-weight: bold; line-height: 35px; padding-bottom: 2px;  border: 0; cursor: pointer; }
.field-error { border-color: #b70000 !important; }
.msg-alert,
.msg-thanks { width: 655px; height: 26px; background: #b70000; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin-bottom: 10px; display: none; }
.msg-thanks { background: #2292d9 !important;}
.msg-alert p,
.msg-thanks p { text-align: center; margin: 0; color: #fff; line-height: 25px; }


#footer .msg-thanks { width:auto;}

.google-map { position: relative; width: 279px; height: 269px; margin: 10px 0 0 -9px; }
 
#header,
#header .center { height: 85px; background: url(images/header-bg.gif) repeat-x 0 0; position: relative;  z-index: 500; }
#header .center { position: relative; }

h1#logo { float: left; display: inline;  width: 218px; height: 27px; margin-top: 21px; }
h1#logo a { height: 27px; display: block; background: url(images/logo.gif) no-repeat 0 0;}
h1#logo span { font-size: 10px; line-height: 13px; color: #00aeef; font-style: italic; display: block; text-align: right; margin-bottom: 2px; }

#navigation { float: right; display: inline; margin-top: 37px; position: relative; z-index: 500; }
#navigation ul { list-style: none outside none; }
#navigation ul li { float: left; display: inline; margin-right: 49px; position: relative; padding-bottom: 15px;  }
#navigation ul li a { font-size: 13px; font-weight: bold; color: #4a4a4a; }
#navigation ul li a:hover,
#navigation ul li a.hover { color: #00aeef; text-decoration: none; }
#navigation ul li .dd-holder { position: absolute; top: 27px; left: -25px; width: 152px; display: none; background-color: #fff; border: 1px solid #919191; z-index: 150; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px;  }
#navigation ul li .dd-holder ul li { float: none; display: block; height: 33px; border-bottom: 1px solid #919191; width: auto; margin: 0; padding: 0; }
#navigation ul li .dd-holder ul li.last { border-bottom: 0; }
#navigation ul li .dd-holder ul li a { display: block; font-size: 12px; font-weight: normal; padding-left: 17px; line-height: 33px; }
#navigation ul li .dd-holder .pointer { position: absolute; top: -9px; left: 44px; width: 11px; height: 9px; display: block; background: url(images/dd-level1-pointer.png) no-repeat 0 0; }
#navigation ul li .dd-holder .dd-holder { top: 0; left: 105%; }
#navigation ul li .dd-holder .dd-holder .pointer { top: 0; left: -30px; width: 65px; height: 33px; background: url(images/dd-level2-pointer.png) no-repeat 23px 15px; }

.social-links { position: absolute; bottom: -24px; right: 0; z-index: 20; }
.social-links ul { list-style: none outside none; }
.social-links ul li { float: left; display: inline;  width: 36px; height: 30px; margin-left: 5px; position: relative; }
.social-links ul li a { float: left; display: inline;  width: 36px; height: 30px; background-repeat: no-repeat; background-position: 0 0; font-size: 0; line-height: 0; text-indent: -4000px;  }
.social-links ul li a.twitter { background-image: url(images/ico-twitter.png); }
.social-links ul li a.facebook { background-image: url(images/ico-facebook.png); }
.social-links ul li a.flickr { background-image: url(images/ico-flickr.png);  }
.social-links ul li a.rss { background-image: url(images/ico-rss.png);  }
#tooltip { position: absolute; padding: 6px 30px; background: #fffcd5; text-align: center; display: none; white-space: nowrap; border: 1px solid #d4d2b3; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; z-index: 100; }
.tooltip-pointer { position: absolute; top: -5px; left: 48%; width: 8px; height: 5px; display:block; background: url(images/tooltip-pointer.gif) no-repeat 0 0; }

#location,
#location .center { height: 114px; background: url(images/location-bg.gif) repeat-x 0 0; }
#location h2 { font-size: 38px; line-height: 40px; padding-top: 27px; text-transform: none; }
#location p { color: #9c9c9c; font-size: 20px; line-height: 22px; }

#slider { height: 443px; background: url(images/slider-bg.gif) repeat-x 0 0; position: relative; z-index: 1; overflow: hidden; min-width: 980px; }
#prev, #next { position: absolute; top: 191px; left: -14px; width: 74px; height: 60px; display: block; font-size: 0; line-height: 0; text-indent: -4000px;  background: url(images/prev.png) no-repeat 0 0; z-index: 20; }
#next { width: 73px; left: auto; right: -14px; background: url(images/next.png) no-repeat 0 0;}
.slider1-content { width: 100%; height: 441px; position: relative; z-index: 1; }
.slider1-content ul {list-style: none outside none; position: relative; overflow: hidden; }
.slider1-content ul li { position: relative; height: 441px; width: 100%; }
.slider1-content .jcarousel-clip { position: relative; height: 441px; width: 100%; overflow: hidden; }
.slider1-content ul li img { position: relative; z-index: 5; }
.slider1-content ul li .center { width: 940px; height: 441px; position: relative; }
.slider1-content ul li .text-holder { position: absolute; top: 130px; right: 0; width: 400px; display: block; z-index: 7; }
.slider1-content ul li .text-holder h2 { font-size: 38px; line-height: 40px; text-transform: none; margin-bottom: 3px; }
.slider1-content ul li .text-holder p { color: #888; font-size: 14px; text-transform: uppercase; margin-bottom: 15px; }
.slider1-content ul li .text-holder h3 { color: #d0d0d0;  text-transform: none; }
.slider1-content ul li .text-holder .btn-holder { width: 252px; height: 141px; background: url(images/slider1-btn-reflection.gif) no-repeat 0 bottom; margin: 30px 0 0 50px;}
.slider1-content ul li .text-holder .btn-holder a { width: 252px; height: 65px; display: block; background: url(images/slider1-btn.gif) no-repeat 0 0; text-transform: uppercase; text-align: center; font-weight: bold; font-size: 22px; color: #2b2b2b; padding-top: 22px; text-shadow: 1px 1px 1px #fff; }
.slider1-content ul li .text-holder .btn-holder a span { display: block; font-size: 12px; font-weight: normal; margin-top: 5px;  text-shadow: -1px 1px 1px #767676; }
.slider1-content ul li .text-holder .btn-holder a:hover { text-decoration: none; background: url(images/slider1-btn-hover.gif) no-repeat 0 0;}

.slider1-nav-holder { }
.slider1-nav { position: absolute; top: 8px; left: 50%; z-index: 100; }
.slider1-nav ul { list-style: none outside none; }
.slider1-nav ul li { float: left; display: inline; width: 15px; height: 15px; margin-right: 7px; }
.slider1-nav ul li a { width: 15px; height: 15px; display: block; background: url(images/slider1-nav.png) no-repeat 0 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.slider1-nav ul li a:hover,
.slider1-nav ul li a.active { background: url(images/slider1-nav-hover.png) no-repeat 0 0;}

#main,
#main .center { background: #fff url(images/main-bg.gif) repeat-x 0 0; position: relative;  }
#main { min-width: 980px; }
#main .center { padding: 40px 0 20px;  }

ul.team { list-style: none outside none; }
ul.team li { float: left; display: inline; width: 89px; line-height: 18px; margin-right: 38px; }
ul.team li img { border: 1px solid #dbdbdb; }
ul.team li a { display: block; color: #00aeef; text-decoration: none; }

ul.custom-bullet { list-style: none outside none; }
ul.custom-bullet li { background: url(images/custom-bullet.gif) no-repeat 0 6px; padding-left: 13px; }
ul.custom-bullet li a { color: #00aeef; text-decoration: none;}
ul.custom-bullet li a:hover { color: #151515; }

.quotes { width: 315px; padding: 5px 0 0 75px; background: url(images/quotes.gif) no-repeat 0 0; font-style: italic; font-family: Georgia, serif; margin: 10px 0 0 20px; }
.quotes a { text-decoration: none; color: #00aeef; }
.quotes a:hover { color: #151515; }

#content { width: 655px; }
#sidebar { width: 295px; }

#content.blog { width: 667px; }

.box-sidebar { background-image: url(images/box-sidebar-bg.gif); margin-bottom: 20px; }
.box-sidebar .box-b { background-image: url(images/box-sidebar-b.gif);}
.box-sidebar .box-t { background-image: url(images/box-sidebar-t.gif); padding: 11px 16px 0; height: 100%; }
.box-sidebar .entry,
.box-sidebar .entry p { padding-bottom: 15px; margin-bottom: 0; }
.box-sidebar h4 { font-weight: bold; text-transform: none; color: #151515; margin-bottom: 20px;  }
.box-sidebar .custom-bullet li { background-position: 0 10px; }
.box-sidebar .custom-bullet li a { line-height: 26px; }

.ads { float: left; display: inline;  width: 117px; height: 118px; margin-right: 25px; }

ul.gallery { list-style: none outside none; width: 670px; position: relative; margin-right: -10px; height: 100%; overflow: hidden;  }
ul.gallery li { float: left; display: inline;  width: 119px; height: 104px; border: 1px solid #c7c7c7; padding: 2px; margin-right: 8px; margin-bottom: 10px; }
ul.gallery li img { display: block; width: 119px; height: 104px; }

ul.project-gallery { list-style: none outside none; position: relative; width: 670px; margin-right: -15px; height: 100%; }
ul.project-gallery li { float: left; display: inline;  width: 203px; padding: 2px; border: 1px solid #c7c7c7; line-height: 20px; margin: 0 14px 38px 0 ; }
ul.project-gallery li img { width: 203px; height: 153px;  }
ul.project-gallery li .details { padding-left: 5px; }
ul.project-gallery li h6 { font-size: 13px; font-weight: bold; color: #333; margin-bottom: 0; }
ul.project-gallery li .more { font-size: 11px; }

.sitemap li { background-position: 0 9px !important;}
.sitemap li a { text-transform: uppercase; font-weight: bold; line-height: 24px; }
.sitemap ul { list-style: none outside none; }
.sitemap ul li { background: none; }
.sitemap ul li a { color: #505150; text-decoration: underline; text-transform: none; font-weight: normal; }

.service-item { margin-top: 40px; }
.service-item img { width: 261px; }
.service-item .service-text { float: right; display: inline;  width: 370px; padding-top: 15px; }
.service-item h3 { font-size: 20px; color: #00aeef; border-bottom: 1px solid #ededed; padding-bottom: 5px; margin-bottom: 8px; text-transform: none; }

.service-main-image { width: 645px; height: 255px; border: 1px solid #c4c4c4; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 4px; margin-top: 20px; }
.service-main-image img { display: block; }

ul.address { list-style: none outside none; }
ul.address li { text-align: right; line-height: 22px; }
ul.address li strong { color: #151515; margin-right: 45px; float: left; display: inline;  }
ul.address li .more { display: inline;  }

.request-btn { position: relative; margin: 0 -2px; width: 298px; height: 62px; display: block; background: url(images/request-btn.gif) no-repeat 0 0; font-size: 22px; color: #2b2b2b; font-weight: bold; text-transform: uppercase; text-align: center; padding-top: 15px; }
.request-btn span { display: block; font-weight: normal; font-size: 14px; padding-top: 3px;  }
.request-btn:hover { background-position: 0 bottom; text-decoration: none; }

.project-item { padding-bottom: 22px; margin-bottom: 20px; border-bottom: 2px solid #ededed; }
.project-item .project-image { float: right; display: inline; width: 242px; height: 164px; background: url(images/project-image-cover.gif) no-repeat 0 0; padding: 3px 0 0 3px; }
.project-item h3 { font-size: 20px; text-transform: none; color: #151515; margin: 5px 0 10px; }
.featured-project { position: relative;  border: 1px solid #c4c4c4; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: 19px 85px 19px 16px; }
.featured-project .mark-featured { position: absolute; top: 0; right: 0; width: 177px; height: 129px; display: block; background: url(images/mark-featured-project.png) no-repeat 0 0; z-index: 10; }
.featured-project .project-image { float: left; display: inline;  margin-right: 10px; }

.project-slider { width: 647px; height: 329px; border: 4px solid #c4c4c4; margin-bottom: 30px; }
.project-slider-content { float: left; display: inline; width: 557px; height: 329px; }
.project-slider-content ul { list-style: none outside none; position: relative; overflow: hidden; }
.project-slider-content ul li,
.project-slider-content .jcarousel-clip { position: relative; width: 557px; height: 329px; }

.project-slider-prev,
.project-slider-next { float: left; display: inline;  width:45px; height: 329px; background: url(images/project-slider-prev.gif) no-repeat 0 0;}
.project-slider-next { background: url(images/project-slider-next.gif) no-repeat 0 0; }

.error-404,
.error-404 .center { background: #000 url(images/error-bg.gif) repeat-x 0 0; }
.error-image { display: block; padding: 157px 0 20px 230px; }
.error-btn { float: left; display: inline; height: 87px; }
.error-btn a { height: 44px; display: block; font-family: "Trebuchet MS",Arial, sans-serif; font-size: 18px; color: #474747; text-transform: uppercase; font-weight: bold; text-shadow: 1px 1px 1px #ededed; text-align: center; line-height: 44px; }
.error-btn a:hover { text-decoration: none; }
.error-btn span { display: block; height: 40px; }
.error-btn-first { margin-left: 330px;}
.go-back { width: 115px; background: url(images/go-back-btn.gif) no-repeat 0 0; margin: 0 20px 3px 0; }
.return-home { width: 186px; background: url(images/return-home-btn.gif) no-repeat 0 0; margin-bottom: 3px; }
.go-back:hover,
.return-home:hover { background-position: 0 bottom; }
span.go-back-reflection { background: url(images/go-back-reflection.gif) no-repeat 0 0; width: 135px; }
span.return-home-reflection { background: url(images/return-home-reflection.gif) no-repeat 0 0; width: 186px; }

h2.title-cnt { font-size: 32px; text-transform: none; text-align: center; padding-top: 36px; }

.box-blog { width: 667px; background-image: url(images/box-blog-bg.gif); margin-bottom: 20px; }
.box-blog .box-b { background-image: url(images/box-blog-b.gif); }
.box-blog .box-t { background-image: url(images/box-blog-t.gif); padding: 8px 17px 0; min-height: 455px; }
.box-blog .post-head p { margin-bottom: 0; }
.box-blog  a { color: #00aeef; text-decoration: none; font-weight: bold; }
.box-blog  a:hover {  color: #000;  }
.box-blog .post-head h4 { color: #151515; font-weight: bold; text-transform: none;  }
.box-blog .post-head h4 a { font-weight: bold; text-transform: none;  }
.box-blog .post-head .calendar { float: left; display: inline;  width: 63px; height: 61px; background: url(images/calendar-bg.gif) no-repeat 0 0; text-align: center; color: #fff; margin-top: 27px; }
.box-blog .post-head .calendar .day { font-size: 28px; padding: 10px 0 5px; }
.box-blog .post-head .calendar .month { font-size: 12px; }
.box-blog .post-head .post-details { float: left; display: inline; padding: 35px 0 0 16px; }
.box-blog .post-head .post-details .author { padding-bottom: 5px; }
.box-blog .post-head .post-details .post-date {  font-size: 12px; background: url(images/ico-calendar.gif) no-repeat 0 0;  padding-left: 22px; color: #00aeef; }
.box-blog .post-head .comments { float: right; display: inline; height: 16px;  font-size: 12px; background: url(images/ico-comments.gif) no-repeat 0 2px; padding-left: 22px;  margin: 57px 12px 0 0; font-size: 12px; font-weight: normal; }
.box-blog .post-body { padding-top: 5px; } 
.box-blog .post-body .images { float: left; display: inline;  border-width: 3px; margin-right: 10px; margin-top: 5px; }
.box-blog .post-body p { font-size: 12px; }
.box-blog .post-body .blog-btn,
.box-blog .post-body .blog-btn span { float: left; display: inline; height: 35px; background: url(images/blog-btn.gif) no-repeat 0 0; padding-left: 10px; text-align: center; line-height: 34px; }
.box-blog .post-body .blog-btn { margin-left: 470px; }
.box-blog .post-body .blog-btn span { background-position: right 0; padding: 0 10px 0 0; }

.pagination { }
.pagination ul { list-style: none outside none; }
.pagination ul li { float: left; display: inline;  width: 34px; height: 34px; margin-right: 5px; }
.pagination ul li a { float: left; display: inline;  width: 34px; height: 34px; background: url(images/pagination-sprite.gif) no-repeat 0 0; font-size: 14px; font-weight: bold; text-align: center; line-height: 33px; color: #00aeef;}
.pagination ul li a:hover,
.pagination ul li a.active { background-position: 0 bottom; color: #fff; text-decoration: none; }

ul.popular-posts { list-style: none outside none; padding-bottom: 5px; }
ul.popular-posts li { display:block; border-bottom: 1px solid #dedede; margin-bottom: 7px; height: 100%; }
ul.popular-posts li .images { float: left; display: inline; border-width: 2px; margin-right: 10px; }
ul.popular-posts li a.post-title { display: block; color: #00aeef; text-decoration: none; padding-top: 3px; }
ul.popular-posts li a.post-title:hover { color: #000; }
ul.popular-posts li .post-date { font-size: 11px; text-transform: uppercase;}
ul.popular-posts li.last  { border: 0; }

.comments-holder { padding-top: 40px; }
.comments-holder .noborder { border: 0; }
.comment-item { color: #454545; border-bottom: 1px solid #c7c7c7; margin-bottom: 20px; }
.comment-item .avatar { float: left; display: inline; width: 59px; height: 59px; border: 1px solid #e6e6e6; margin-right: 18px; }
.comment-item .avatar img {  width: 59px; height: 59px;  }
.comment-item .comment-container { float: left; display: inline;  width: 520px; }
.comment-item .comment-head { margin-bottom: 10px; }
.comment-item .comment-head p { margin-bottom: 0px; }
.comment-item .comment-body .more { margin-top: 10px; }

.comment-form { position: relative; margin-left: -10px; padding-top: 20px; }
.comment-form .form-btn { width: 130px; background-image: url(images/comment-form-btn.gif); }

.under-construction { height: 363px; background: url(images/under-construction-bg.gif) repeat-x 0 0; }
.under-construction-bg { height: 363px; background: url(images/construction-bg.gif) no-repeat center 0; }
.under-construction-bg h2 { text-transform: uppercase; color: #00aeef; font-size: 26px; text-align: center; line-height: 28px; padding-top: 313px;  }

#screen { background: url(images/screen-bg.png) repeat 0 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1000; display: none;  }
.abs-holder { font-size: 0; line-height: 0; width: 0; height: 0; position: absolute; top: 0; left: 50%; z-index: 111; }
.login { position: absolute; top: 200px; left: -192px; width: 356px; display: none; background: #fff; border: 2px solid #c4c4c4; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding-bottom: 10px; }
.login h4 { font-weight: bold; color: #00aeef; height: 32px; background: url(images/login-heading-bg.gif) repeat-x 0 0; padding: 10px 0 0 20px; }
.login .form-holder { padding: 15px 0 0 20px; height: 100%; overflow: hidden; }
.login .row { width: 320px; }
.login .field { width: 305px; }
.login .remember-me { float: left; display: inline;  }
.login .remember-me .checkbox {float: left; display: inline;  width: 13px; height: 13px; margin-top: 7px;}
.login .remember-me label { float: left; display: inline;  font-size: 13px; line-height: 14px; color: #505050; padding: 7px 0 0 5px; }
.login .remember-me .error { font-size: 13px; color: #c53333; background: url(images/ico-alert.gif) no-repeat 0 2px; line-height: 14px; padding-left: 15px; display: block; margin-top: 10px; }
.login .row-btn { width: 83px; float: right; display: inline; }
.login .row-btn .form-btn { margin-right: 18px; }
.login .close { position: absolute; top: -17px; right: -17px; width: 36px; height: 36px; background: url(images/close-btn.png) no-repeat 0 0; display: block; }

.team-holder { width: 575px; border: 3px solid #e3e3e3; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; padding: 12px 0 12px 40px; margin: 0 0  30px 17px;  }
.team-holder ul.team li { margin-right: 60px; }

#footer, #footer-push { height: 419px; }
#footer2, #footer-push2 { height: 34px; }
#footer, #footer .center, #footer2, #footer2 .center  { background-color: #000; }

.footer-cols { padding: 40px 0 50px; height: 100%; }
.footer-cols .col { width: 280px; margin-right: 70px;  }
.footer-cols .general-title { padding-bottom: 20px; margin-bottom: 9px; border-bottom: 1px solid #2f2f2f; height: 100%; }
.footer-cols .general-title h2 { color: #00aeef; }
.footer-cols .general-title h4 { color: #c5c5c5; }
.footer-cols .testimonial-item { margin-bottom: 18px; }
.footer-cols .testimonial-item p { line-height: 18px !important; }
.footer-cols .testimonial-item .author { color: #d3d3d3; font-size: 13px; }
.footer-cols .testimonial-item .date { color: #fff; }
.footer-cols .testimonial-item .comment { color: #00aeef; font-size: 14px; }
.footer-cols #tweets ul { list-style: none outside none; }
.footer-cols #tweets ul li { margin-bottom: 10px; }
.footer-cols #tweets ul li .tweet_text { font-size: 13px; color: #00aeef; }
.footer-cols #tweets ul li .tweet_text a { font-size: 12px; color: #d3d3d3; display: block; }
.footer-cols #tweets ul li .tweet_time a { color: #fff; }
.footer-cols .footer-form { }
.footer-cols .footer-form .field { width: 200px; height: 15px; padding: 5px; background-color: #141313; border: 1px solid #1e1e1e; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #8a8989; line-height: 15px; margin-bottom: 8px; }
.footer-cols .footer-form .message-field { width: 260px; height: 99px; }
.footer-cols .footer-form .form-btn { width: 127px; height: 26px; background: url(images/footer-form-btn.gif) no-repeat 0 0; border: 0; cursor: pointer; color: #fff; }

.footer-bottom { border-top: 1px solid #181818; font-size: 11px; padding-top: 10px; height: 100%;  }
.footer-bottom .footer-links { float: left; display: inline;  }
.footer-bottom .footer-links span { color: #121212; padding: 0 2px; }
.footer-bottom .footer-links a { color: #a7a7a7; text-transform: uppercase; }
.footer-bottom .site-by { float: right; display: inline; color: #737373; }
.footer-bottom .site-by a { color: #737373; }

#footer2 .site-by { display: block; float: none; text-align: center;}

