.toggler {cursor:pointer;}
.toggleHide {display:none;}
.openState > .toggleHide {display:block;}
.leftCol .openState > .toggleHide {display:none;}

/*.toggleHide {
    position:absolute;
    left:-5000px;
    overflow:hidden;
}
.ek-toggler .toggleHide {
    position:static;
    left:auto;
    overflow:auto;
}*/

/* tooltip (Toggler.js) */
.tips {
    display: none;
    position: absolute;
    z-index: 10001;
    border:1px solid #c8c8c8;
    background-color:#efefef;
}
.tipsInner {}


.tipsOnBottom,
.tipsOnTop,
.tipsOnLeft{ width:288px; }

.tipsOnBottomCenter,
.tipsOnBottomLeft{ width:433px; }

.tipsOnBottom .tipsInner,
.tipsOnTop .tipsInner,
.tipsOnTopCenter .tipsInner,
.tipsOnTopRight .tipsInner,
.tipsOnBottomCenter .tipsInner,
.tipsOnBottomLeft .tipsInner,
.tipsOnLeft .tipsInner,
.tipsOnRight .tipsInner{
    padding:15px 20px;
    font-weight: normal;
    text-align: left;
}
#tooltipDejaClient .tipsInner {padding: 5px;}

.tipsOnBottom .talkArrowLeft,
.tipsOnBottomCenter .talkArrowLeft,
.tipsOnBottomLeft .talkArrowLeft,
.tipsOnTop .talkArrowLeft,
.tipsOnTopCenter .talkArrowLeft,
.tipsOnRight .talkArrowLeft,
.tipsOnLeft .talkArrowLeft{
    background:url(skin/talkArrowLeft.png) no-repeat left top;
    width:23px;
    height:12px;
    position:absolute;
    top:10px;
    left:-6px;
}


.infosTipsInput{
   display: block;
   background: none repeat scroll 0 0 #FFFFFF;
   border: 1px solid #A4A4A4;
   height: 20px;
   left: 873px;
   padding: 5px 0;
   position: absolute;
   top: 893px;
   width: 195px;
}

.infosTipsInput .tipsInner {
    display: block;
    padding: 2px 13px;
}

.tipsOnBottom .talkArrow,
.tipsOnBottomCenter .talkArrow,
.tipsOnBottomLeft .talkArrow,
.tipsOnTop .talkArrow,
.tipsOnTopCenter .talkArrow,
.tipsOnTopRight .talkArrow,
.tipsOnRight .talkArrow,
.tipsOnLeft .talkArrow{
    background:url(skin/talkArrowGrey.png) no-repeat center top;
    width:20px;
    height:11px;
    position:absolute;
    top:-11px;
    right:10px;
}

.tipsOnBottomCenter .talkArrow{
    left:50%;
    margin-left: -2px;
}

.tipsOnBottomLeft .talkArrow{
    left:10%;
    margin-left: -2px;
}

.tipsOnTop .talkArrow,
.tipsOnTopCenter .talkArrow,
.tipsOnTopRight .talkArrow {
    background-position: center bottom;
    top: auto;
    right: auto;
    left: 8px;
}

.tipsOnTopCenter .talkArrow{
    left: 50%;
    margin-left: -17px;
}

.tipsOnTopRight .talkArrow {
    left: auto;
    right: 10px;
}

.tipsOnRight {
    width:450px;
}

.tipsOnRight .talkArrow {
    top:12px;
    left:-12px;
    width:12px;
    height:23px;
    background-position: left center;
}

.tipsOnLeft .talkArrow {
    top:12px;
    right:-12px;
    width:12px;
    height:23px;
    background-position: right center;
}


/***********************************************************************************************************************
   Carousel
***********************************************************************************************************************/
.ekcarousel {
    position: relative;
}

.ekcarousel .carouselWrapper {
    overflow: auto;
    position: absolute;
    top: 0;
    height: 100%;
}

.beforeLoading .ekcarousel .carouselWrapper{
    overflow: hidden;
}

.ekcarousel .carouselWrapper ul {
    width: 9999px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

.ekcarousel ul li {
    display: block;
    float: left;
    *margin-left: 0px;
}

.ekcarousel .arrow {
    display: block;
    position: absolute;
    cursor: pointer;
}


/***********************************************************************************************************************
   Popin
***********************************************************************************************************************/
.popin {
    position: fixed;
    /*left: 50%;*/
    left: -300px;
    /*top: 50%;*/
    top:-200px;
    z-index: 1002;
    display: none;
}

.popinTop {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
    padding: 3px;
    border-bottom: 1px solid #d9d9d9;
    height: 30px;
    position: relative;
}

.popinCtn {
    padding: 10px 5px 10px 5px;
}

.popinClose {
    background: url(skin/btnCloseWhite.png) no-repeat right center;
    height: 27px;
    line-height: 20px;
    text-indent: -5000px;
    overflow: hidden;
    padding-right: 25px;
    display:block;
    right: 15px;
    width: 100px;
    position: absolute;
}

.popin .popinContent p{
    margin-top : 15px;
}

.popinContent {
    position: absolute;
    left: -5000px;
    top:0;
    display: none;
}

.popin .popinContent {
    display: block;
    position: static;
    /*margin: 0 auto 20px;*/
    margin: 0 auto 0px
    /*padding: 0 30px;*/
}

#customerTypeAutoPopin {
    padding: 0 20px;
}

#customerTypeAutoPopin p {
    font-size: 16px;
}

#customerTypeAutoPopin .customerTypeAutoForm p {
    font-size: 12px;
}

#customerTypeAutoPopin .customerTypeAutoForm input,
#customerTypeAutoPopin .customerTypeAutoForm label {
    vertical-align: middle;
    margin-right: 10px;
}

#customerTypeAutoPopin .customerTypeAutoForm input {
    margin-right: 10px;
}


.popinStdWidth {
    width: 620px;
}

#ekFog, #fog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(skin/widgets/popin/bgW00.png) repeat left top;

    display: none;
    z-index: 1;
}

/* Extend : Popin PostIt ---*/
.popin.postit {
    position: absolute;
}

.popinPostit {
    background: url("skin/bgB30.png") repeat scroll left top transparent;
    padding: 20px;
}

.popinPostit--noBg {
    background: white;
    -webkit-box-shadow: 0px 0px 25px 0 #000;
          box-shadow: 0px 0px 25px 0 #000;
}

.postit .popinInner {
    background: #fff;
}

input.error {
    border:1px solid #D60013;
}

.errorText {display:block;font-size:.8em;color:#D60013;font-weight:bold;}

.toShowOnSuccess {display:none;}


.js-floatingBox{
    position: absolute;
}
/*

.js-floatingBox.fixedFromBottom{
    position: absolute;
}

.js-floatingBox.fixedFromTop{
    position: absolute;
}*/