<a href="#"
	onclick='javascript:printDataTableModifyImageNamePopup("#fileName", "#isTmpImage", "#controller","#relativeUrl","#compteurIndex","#imageId");'>
	<img src="#serverBaseUrl/img/images_modif.jpg" width="13" height="16"
	border="0" alt="Editer les propriétés" />
</a>
&nbsp;&nbsp;&nbsp;
<a href='javascript:printDataTableStandardPopup("#messageHeaderSuppression", "#messageBodySuppression", "#confirmfunctionSuppression", "#compteurIndex");'>
	<img src="#serverBaseUrl/img/p_supprimer.gif" width="13" height="16"
	border="0" alt="Supprimer" />
</a>
   <a
	href="#serverBaseUrl/imagesController/download/#relativeUrl/fullImage.html">
	<img src="#serverBaseUrl/img/disquette.png" width="16" height="19"
	border="0" alt="Supprimer" />
</a>



