#imageCount&nbsp;&nbsp;&nbsp;<input class="filecheckboxes" id="checkboxAction#compteurIndex" type="checkbox" 
onclick="javascript:toggleselectPicture('#fileName','#imageId');" #CHECKED/>
<a id="parent#compteurIndex" href="#" onclick="javascript:printFullImage('#compteurIndex','/imagesController/paintImage#relativeUrl/fullImage.html', '')">
		<img id='big_img_url_#compteurIndex' src="#serverBaseUrl/imagesController/paintImage#relativeUrl/_small120.html" alt="" width="100px" height="100px" title="Grande image" alt="Image non trouvée" align="absmiddle" class="rotableImg"/>		
</a>
<div style="text-align: left; display: none;" id="layer#compteurIndex">
	<input type="submit" name="valider_infos_album"
		id="fermerr_infos_album"
		onclick="javascript: closeSimpleModal();return false;" value="Fermer"></input>
	<form action="#" id="imageDetail#compteurIndex">
		<p class="double">
		<span id="layer-image#compteurIndex"></span>
		</p>
	</form>
</div>