# Comment
*/target/*
*.log
*.zip
*.class
*.jar
*.war
smartalbum-database/target
smartalbum-service/target
smartalbum-back/target
smartalbum-filesystem/target
smartalbum-front/target
smartalbum-database/C:
*/.settings/
smartalbum-database/src/main/resources/mock/
