/*
	Green Theme  - Colors, Images, Color Specific Declarations
*/

body { background-color: #FFF; color: #615a55; }
header { background-image: url(images/green/header-bg.png); }

h2, h2 a, h3, h3 a, h4, h4 a { color: #638c1d; }

nav { background: url(images/green/nav-separator.png) no-repeat 0 0; }
nav li { background: url(images/green/nav-separator.png) no-repeat right 0; }
nav li a { color: #dedede; background: url(images/green/nav-bg.png) repeat-x 0 0; }

#featured-content { background: url(images/green/featured-content-bg.png) repeat-x 0 0; }
#featured-content .item { background: url(images/green/featured-content-bg.png) repeat-x 0 0; }
#featured-content .nav li a { background: url(images/green/fader-nav.png); }

#gallery .nav li a { 
	border: 1px solid #ddd8d0; 
	background: #fafaf9; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafaf9 0%, #f6f2ef 4%, #e7e4de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafaf9), color-stop(4%,#f6f2ef), color-stop(100%,#e7e4de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafaf9 0%,#f6f2ef 4%,#e7e4de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafaf9 0%,#f6f2ef 4%,#e7e4de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafaf9 0%,#f6f2ef 4%,#e7e4de 100%); /* IE10+ */
	background: linear-gradient(top,  #fafaf9 0%,#f6f2ef 4%,#e7e4de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafaf9', endColorstr='#e7e4de',GradientType=0 ); /* IE6-9 */
	color: #b9b0a8; 
	text-shadow: 0 1px 0 #fff;
}

#gallery .nav li.hover a,
#gallery .nav li.active a { color: #638c1d; text-decoration: none; }

#gallery .nav .colors { background: url(images/green/gallery-nav-colors.png); }

#gallery .list-thumbs .box { border: 1px solid #dfd7d0; background: #fff; }
#gallery .list-thumbs .box .category { color: #91ae60; }

#gallery .list-thumbs .box h3 { background: url(images/green/gallery-bullet.png) no-repeat 0 center; }

.btn-1 { color: #f5f5f5; background: #6cbb00 url(images/green/btn-1.png) repeat-x 0 0; }

#blog { background: url(images/green/blog-bg.png) repeat-y 690px 0; }
.blog-top { background: url(images/green/blog-top.png) no-repeat 690px 0; }
.blog-bottom { background: url(images/green/blog-bottom.png) no-repeat 690px bottom; }


.post hgroup { background: url(images/green/blog-separator-wide.png) no-repeat 0 bottom; }
.post .top-meta { color: #615a55; }
.post .top-meta a { color: #1c7396; }
.post .top-meta .comments { color: #756e69; }
.post .top-meta .comments span { background: url(images/green/icon-comments-top.png) no-repeat 0 0; }
.post img { background: #fff; }

.post .bottom-meta { color: #615a55; }
.post .bottom-meta a { color: #1c7396; }

.paging a { background: #716c6a; color: #adadad; }
.paging a.prev span { background: url(images/green/paging-prev.png) no-repeat 0 center; }
.paging a.next span { background: url(images/green/paging-next.png) no-repeat right center; }

.paging a:hover,
.paging a.active { background: #b4b4b4; color: #044863; text-shadow: 1px 1px 0 #c5c5c5;  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;  -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.20), 1px 1px 3px rgba(0,0,0,.75); -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.20), 1px 1px 3px rgba(0,0,0,.75); box-shadow: inset 0 0 1px rgba(0,0,0,.20), 1px 1px 3px rgba(0,0,0,.75); 

	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 1%, #b3b3b3 71%, #c5c5c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f4f4f4), color-stop(71%,#b3b3b3), color-stop(100%,#c5c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 1%,#b3b3b3 71%,#c5c5c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 1%,#b3b3b3 71%,#c5c5c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 1%,#b3b3b3 71%,#c5c5c5 100%); /* IE10+ */
	background: linear-gradient(top,  #f4f4f4 1%,#b3b3b3 71%,#c5c5c5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#c5c5c5',GradientType=0 ); /* IE6-9 */
}

#blog .post-comment h3 { background: url(images/green/blog-separator-wide.png) no-repeat 0 bottom; }
#blog aside h3 {  background: url(images/green/blog-separator-short.png) no-repeat 0 bottom; }

#blog .list-1 li { border-bottom: 1px solid #c9c5c2;  -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; }
#blog .list-1 li a { color: #1c7396; background: url(images/green/bullet1.png) no-repeat 5px center; }
#blog .list-1 li a:hover,
#blog .list-1 li a.active { background-color: #ececec; text-decoration: none; }

#blog .list-2 li { border-bottom: 1px solid #c9c5c2;  -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; }
#blog .list-2 li a { color: #665e5a; background: url(images/green/bullet1.png) no-repeat 5px center; }
#blog .list-2 li a.active { color: #0c5f82; }

#blog .list-2 li li,
#blog .list-2 li:last-child { border: 0; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
#blog .list-2 li li a { background: none; color: #0c5f82; text-decoration: underline; }
#blog .list-2 li li a:hover { text-decoration: none; background: none; }

#blog aside .tag-cloud li a { color: #1c7396; }

#blog .comments li { background: url(images/green/blog-separator-wide.png) no-repeat 0 top; } 
#blog .comments li.comment-reply { background: #fef6f6; border: 1px solid #dfd9d5; }

#blog .comments .user strong { color: #776758; }
#blog .comments .user span a { background: url(images/green/icon-comments.png) no-repeat 0 bottom; color: #1c7396; }

#blog .post-comment label { color: #262222;  }
#blog .post-comment label span { color: #9a9a9a; }
#blog .post-comment .field { background: #ddd8d5; color: #615a55; border: 1px solid #cbc6c3;  -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.22); -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.22); box-shadow: inset 0 2px 2px rgba(0,0,0,.22); }
#blog .post-comment .field-focus { border: 1px solid #31a0cd; }
#blog .post-comment .field-error { border: 1px solid #f18382; }
#blog .post-comment .error-message { background: #e54746; border: 1px solid #ffe5e5; color: #fef6f6; }
#blog .post-comment .submit { border: 0; background-color: #6cbb00; }


.btn-reply span { background: url(images/green/icon-reply.png) no-repeat 0 center; }

footer { background: url(images/green/footer-bg.png); border-top: 1px solid #fff; }
footer h4 { color: #d9d8d7; }

footer .tweets,
footer .tweets .tweet_text { color: #dde6cf; } 
footer .tweets .tweet_text a { color: #9fd846; } 
footer .tweets .tweet_date a { color: #b7c5a2; }

footer .socials { background: #507114; background: rgba(0,0,0,.18); }
footer .socials ul li { border-bottom: 1px dashed #869d5b; }
footer .socials ul li a { color: #dce3d0; }

footer .col-3 p { color: #c5c4c3; }
footer .col-3 .field { background: #ddd8d5; border: 1px solid #fff; color: #6e6a67; }
footer .col-3 .field-focus { background: #f5f3f2; }
footer .col-3 .LV_invalid { color: #9fd846; background: url(images/icon-error.png) no-repeat 0 4px;  }
footer .col-3 .submit { border: 0; }

footer .footer-top { -moz-box-shadow: inset 0 10px 5px rgba(0,0,0,.30); -webkit-box-shadow: inset 0 10px 5px rgba(0,0,0,.30); box-shadow: inset 0 10px 5px rgba(0,0,0,.30); }

footer .footer-bottom { border: 1px solid #60851d; background: #2e2b29; background: rgba(0,0,0,.30); color: #57761c; }
footer .footer-bottom span { color: #a0ad87; }
footer .footer-bottom a { color: #9fd846; text-decoration: underline; }
footer .footer-bottom a:hover { text-decoration: none; }

footer .view-more { background: url(images/green/view-more.png) repeat-x 0 0; color: #d7eacf; }
footer .view-more span { background-image: url(images/green/view-more-arrow.png); }