* {
	margin: 0;
	padding: 0;
	outline: 0;
}

html,body {
	height: 100%;
}

body {
	font-size: 12px;
	line-height: 20px;
	font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	color: #000;
	background: #fff;
}

a {
	color: #0252aa;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0;
}

input,textarea,select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

textarea {
	overflow: auto;
}

.cl {
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
}

.notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.left,.alignleft {
	float: left;
	display: inline;
	padding-left: 23%
}

.right,.alignright {
	float: right;
	display: inline;
}

h1,h2,h3,h4 {
	text-transform: uppercase;
}

h1,h2,h3,h4 {
	font-weight: normal;
}

h1 {
	font-size: 26px;
	line-height: 34px;
}

h2 {
	font-size: 24px;
	line-height: 31px;
}

h3 {
	font-size: 22px;
	line-height: 28px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

h5 {
	font-size: 16px;
	line-height: 21px;
}

h6 {
	font-size: 12px;
	color: #d41806;
	margin-bottom: 5px;
}

.entry {
	border: 1px solid #B0C4DE;
}

.entry h5.title {
	color: #333;
	border-bottom: 1px solid #c5c5c5;
	padding-bottom: 4px;
	margin-bottom: 13px;
	text-transform: uppercase;
}

.entry h6.title {
	color: #454545;
	font-size: 14px;
	line-height: 20px;
}

.entry p {
	line-height: 20px;
	margin-bottom: 20px;
}

.entry ul,.entry ol {
	list-style-position: inside;
}

.entry a {
/* 	color: #d41806; */
	text-decoration: underline;
}

.entry a:hover {
	color: #000;
	text-decoration: none;
}

.entry table {
	border-collapse: collapse;
	margin-bottom: 50px;
	width: 100%;
}

.entry th {
	border: solid 1px #fff;
	background: #c01218;
	color: #fff;
	padding: 3px 10px;
	text-align: center;
}

.entry td {
	border: solid 1px #fff;
	padding: 3px 10px;
	text-align: center;
	background: #ececec;
	color: #454545;
	font-weight: bold;
}

.entry td a {
	color: #454545;
	text-decoration: underline;
}

.entry td a:hover {
	color: #8d2c2d;
	text-decoration: none;
}

.entry blockquote {
	border-left: 4px solid #c01218;
	font-style: italic;
	padding-left: 15px;
}

.col {
	float: left;
	display: inline;
	width: 100%;
	margin-right: 16px;
}

.last {
	margin-right: 0 !important;
}

.col-2 {
	margin-top: 10px;
}

.col-3 {
	width: 300px;
	margin-right: 20px;
}

.home-cols {
	margin-top: 25px;
}

.box {
	background-repeat: repeat-y;
	background-position: 0 0;
}

.box-b {
	background-repeat: no-repeat;
	background-position: 0 bottom;
}

.box-t {
	background-repeat: no-repeat;
	background-position: 0 top;
}

a.images {
	display: block;
	border: 1px solid #aaa;
	padding: 1px;
	margin-bottom: 5px;
}

a.more {
	display: block;
	font-weight: bold;
}

#wrapper,#wrapper-error {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -334px;
}

#wrapper-error {
	margin-bottom: -46px;
}

.center {
	margin: 0 auto;
	 padding-bottom: 10px;
}

	#header,#header .center {
	z-index: 100;
}

h1#logo {
	float: left;
	display: inline;
	width: 245px;
	height: 65px;
	margin: 13px 0 0 29px;
}

h1#logo a {
	display: block;
	height: 65px;
	background: url(images/logo.jpg) no-repeat 0 0;
}

.social-links {
	display: inline;
	float: right;
	margin: 5px 7px 0 0;
	z-index: 3;
	width: 261px;
}

.social-links ul {
	list-style-type: none;
}

.social-links ul li {
	float: left;
	display: inline;
	margin-right: 22px;
}

.social-links ul li a {
	float: left;
	display: inline;
	background: url(images/social-icons.jpg) no-repeat 0 0;
	font-size: 11px;
	color: #747471;
	line-height: 16px;
	padding-left: 20px;
}

.social-links ul li a.rss {
	background-position: 0 0;
}

.social-links ul li a.facebook {
	background-position: 0 -16px;
}

.social-links ul li a.twitter {
	background-position: 0 bottom;
}

#navigation {
	background-color: #696969;
	height: 65px;
	position: relative;
}

#navigation ul {
	list-style-type: none;
	padding-left: 15px;
}

#navigation ul li {
	position: relative;
	float: left;
	display: inline;
	height: 60px;
	padding-top: 9px;
}

#navigation ul li a {
	float: left;
	display: inline;
	height: 60px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	line-height: 59px;
	padding: 0 25px;
	text-shadow: -1px 1px 1px #620a0d;
}

#navigation ul li a:hover,#navigation ul li a.hover {
	background: url(images/nav-hover.gif) repeat-x 0 0;
	text-decoration: none;
	text-shadow: -1px 1px 1px #262626;
}

#navigation ul li a.first:hover {no-repeat 0 0;
	
}

#navigation ul li .nav-arrow {
	position: absolute;
	top: 37px;
	right: 11px;
	display: block;
	width: 9px;
	height: 6px;
	background: url(images/nav-arrow.gif) no-repeat 0 0;
}

#navigation ul li .dd {
	position: absolute;
	top: 69px;
	left: 0;
	width: 170px;
	display: none;
	background-color: #fff;
	border: 1px solid #c5c6c0;
	border-bottom: 0;
	z-index: 100;
}

#navigation ul li .dd ul {
	padding: 0;
}

#navigation ul li .dd ul li {
	float: none;
	display: block;
	width: 170px;
	height: 33px;
	padding: 0;
	border-bottom: 1px solid #c5c6c0;
	font-size: 0;
	line-height: 0;
}

#navigation ul li .dd ul li a {
	float: none;
	display: block;
	height: 33px;
	text-shadow: none;
	text-transform: none;
	color: #454543;
	font-size: 13px;
	line-height: 32px;
	padding: 0 0 0 13px;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-weight: normal;
}

#navigation ul li .dd ul li a:hover,#navigation ul li .dd ul li a.hover
	{
	background: #eaeaea !important;
}

#navigation ul li .dd ul li .dd-arrow {
	position: absolute;
	top: 15px;
	right: 6px;
	display: block;
	width: 3px;
	height: 5px;
	background: url(images/dd-arrows.gif) no-repeat 0 -5px;
	overflow: hidden;
}

#navigation ul li .dd ul li .dd {
	left: 100%;
	top: -1px;
}

#slider {
	background-color: #edeee7;
	padding-top: 27px;
	z-index: 1;
}

.slider-holder {
	position: relative;
	width: 937px;
	height: 337px;
	background: url(images/slider-1-bg.jpg) no-repeat 0 0;
	padding: 3px 0 0 3px;
	z-index: 1;
}

.slider-content,.slider-content2 {
	position: relative;
	overflow: hidden;
	width: 934px;
	height: 334px;
	z-index: 1;
}

.slider-content ul,.slider-content2 ul {
	list-style-type: none;
	position: relative;
	overflow: hidden;
}

.slider-content ul li,.slider-content .jcarousel-clip,.slider-content2 ul li,.slider-content2 .jcarousel-clip
	{
	position: relative;
	width: 934px;
	height: 334px;
}

#slider #prev,#slider #next {
	position: absolute;
	width: 35px;
	height: 45px;
	top: 144px;
	left: 10px;
	background: url(images/slider-1-prev.png) no-repeat 0 0;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

#slider #next {
	left: auto;
	right: 10px;
	background: url(images/slider-1-next.png) no-repeat 0 0;
}

.slider-nav {
	position: absolute;
	bottom: 13px;
	right: 8px;
	z-index: 10;
}

.slider-nav ul {
	list-style-type: none;
}

.slider-nav ul li {
	float: left;
	display: inline;
	margin-right: 5px;
}

.slider-nav ul li a {
	float: left;
	display: inline;
	width: 35px;
	height: 11px;
	background-color: #838383;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.slider-nav ul li a:hover,.slider-nav ul li a.active {
	background-color: #fff;
}

.slider-text {
	padding-top: 23px;
}

.slider-text .get-started {
	float: right;
	display: inline;
	width: 224px;
	height: 65px;
	background: url(images/get-started-btn.gif) no-repeat 0 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #f4f9ff;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px #000;
	padding-top: 11px;
	margin-top: 4px;
	margin-left: 40px;
}

.slider-text .get-started span {
	display: block;
	font-size: 11px;
	font-weight: normal;
	color: #fff;
	padding-top: 5px;
}

.slider-text .get-started:hover {
	background: url(images/get-started-btn-hover.gif) no-repeat 0 0;
	text-decoration: none;
}

.slider-text h3 {
	text-transform: none;
	color: #424242;
	text-shadow: -1px 1px 1px #fff;
	padding-left: 13px;
	font-family: "Trebuchet MS", Arial, sans-serif;
}

.slider2-nav {
	width: 940px;
	height: 60px;
	background: url(images/slider2-nav-bg.gif) repeat-x 0 0;
}

.slider-thumbs,.slider-thumbs .jcarousel-clip {
	position: relative;
	width: 864px;
	height: 50px;
	overflow: hidden;
}

.slider-thumbs {
	float: left;
	display: inline;
	margin: 5px 0 0 12px;
}

.slider-thumbs ul {
	position: relative;
	list-style-type: none;
	overflow: hidden;
}

.slider-thumbs ul li {
	position: relative;
	float: left;
	display: inline;
	width: 90px;
	height: 50px;
	margin-right: 6px;
}

.slider-thumbs ul li a {
	float: left;
	display: inline;
	border: 2px solid #838383;
}

.slider-thumbs ul li a:hover,.slider-thumbs ul li a.active {
	border-color: #d9181f;
}

.slider2-nav #prev2,.slider2-nav #next2 {
	float: left;
	display: inline;
	width: 16px;
	height: 33px;
	background: url(images/prev-2.gif) no-repeat 0 0;
	margin: 20px 0 0 13px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.slider2-nav #next2 {
	float: right;
	display: inline;
	background: url(images/next-2.gif) no-repeat 0 0;
	margin-left: 0px;
	margin-right: 13px;
}

/* #main { background: url(images/main-bg.jpg) repeat-x 0 0; padding-bottom: 30px; } */
#main.home {
	padding-top: 64px;
}

/* .location { padding: 7px 0 45px 0; } */
.location {
	padding: 1px 0 5px 12px;
}

.location ul {
	list-style-type: none;
}

.location ul li {
	float: left;
	display: inline;
	font-size: 11px;
	color: #a60d11;
}

.location ul li a {
	color: #656565;
}

.location ul li a:hover {
	color: #a60d11;
	text-decoration: none;
}

.location ul li span {
	padding: 0 4px;
}

.post-image {
	float: right;
	display: inline;
	margin: 5px 0 0 25px;
}

.custom-bullet {
	list-style: none outside none !important;
}

.custom-bullet li {
	background: url(images/bullet-1.gif) no-repeat 0 5px;
	padding-left: 15px;
	margin-bottom: 3px;
}

.custom-bullet li a {
	color: #1f3f64;
}

#sidebar .custom-bullet li a {
	color: #d41806;
}

.ads {
	width: 200px;
	height: 125px;
	display: block;
	margin: 0 0 12px 12px;
}

.request-btn {
	position: relative;
	width: 240px;
	height: 62px;
	display: block;
	background: url(images/request-btn.gif) no-repeat 0 0;
	font-size: 20px;
	color: #fff !important;
	text-align: center;
	text-decoration: none !important;
	line-height: 52px;
	margin: 30px -8px 0 -9px;
}

.request-btn:hover {
	background: url(images/request-btn-hover.gif) no-repeat 0 0;
}

.about-image {
	float: left;
	display: inline;
	margin: 3px 10px 0 0;
}

.gallery,.project-gallery {
	list-style-type: none;
}

.project-gallery {
	position: relative;
	width: 702px;
	margin-right: -15px;
}

.gallery li,.project-gallery li {
	float: left;
	display: inline;
	overflow: hidden;
}

.gallery li {
	width: 124px;
	height: 104px;
	margin: 9px 9px 0 0;
	border: 3px solid #989898;
}

.project-gallery li {
	width: 219px;
	margin: 15px 15px 0 0;
}

.project-gallery li a img {
	display: block;
	width: 213px;
	height: 169px;
	border: 3px solid #989898;
}

.project-gallery li .details {
	display: block;
	width: 205px;
	height: 47px;
	background: url(images/07_gallery_project_page_13.jpg) repeat-x 0 0;
	border: 3px solid #f0f0f0;
	padding: 3px 0 0 8px;
}

.project-gallery li .details h6 {
	margin-bottom: 0;
}

.project-gallery li .details h6 a {
	font-size: 13px;
	color: #ed1c24;
	text-decoration: none;
}

.project-gallery li .details p {
	font-size: 11px;
	line-height: 15px;
	color: #333;
	margin-bottom: 0;
}

#under-construction {
	background: url(images/under-construction-bg.gif) repeat-x 0 0;
}

#under-construction h1#logo {
	float: none;
	display: block;
	width: 245px;
	height: 85px;
	padding-right: 50px;
	margin: 0 auto;
}

#under-construction h1#logo a {
	display: block;
	height: 85px;
	background: url(images/under-construction-logo.gif) no-repeat 0 0;
}

#under-construction .text-holder {
	text-align: center;
	margin-top: 75px;
}

#under-construction .text-holder h4,#under-construction .text-holder h2
	{
	font-weight: bold;
	line-height: 42px;
	text-transform: none;
	color: #454543;
}

#under-construction .text-holder h2 {
	font-size: 42px;
	color: #f59a00;
	text-shadow: 1px 1px 1px #c45f00;
}

.row {
/* 	width: 521px; */
	margin-bottom: 10px;
}

.row .field,.row .message {
	float: left;
	display: inline;
	font-family: Tahoma, Arial, sans-serif;
	border: 1px solid #e7e7e7;
	box-shadow: inset 3px 3px 10px rgb(184, 184, 184);
	-moz-box-shadow: inset 3px 3px 10px #b8b8b8;
	-webkit-box-shadow: inset 3px 3px 10px #b8b8b8;
}

.row .field {
	width: 260px;
	height: 18px;
	line-height: 17px;
	background-color: #f5f5f5;
	padding: 6px 5px;
	color: #454545;
}

.row .field-focus {
	border: 1px solid #626262 !important;
}

.row .message {
	height: 134px;
	overflow-y: auto;
	width: 90%;
	margin-left: 5%;
}

.row label {
	float: left;
	display: inline;
	width: 220px;
	text-align: right;
	margin-right: 10px;
	color: #454545;
}

.row label span {
	color: #999;
	font-size: 11px;
}

.row .submit-btn {
	float: right;
	display: inline;
	width: 127px;
	height: 26px;
	background: url(images/contact-form-btn.gif) no-repeat 0 0;
	color: #fff;
	font-size: 13px;
	line-height: 22px;
	padding: 3px 0 5px;
	border: 0;
	cursor: pointer;
}

.field-error {
	border-color: #b70000 !important;
}

.msg-alert,.msg-thanks {
	width: 700px;
	height: 26px;
	background: #b70000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
	display: none;
}

.msg-thanks {
	background: #2292d9 !important;
}

.msg-alert p,.msg-thanks p {
	text-align: center;
	margin: 0;
	color: #fff;
	line-height: 25px;
}

.google-map {
	width: 223px;
	height: 223px;
	display: block;
	margin-bottom: 5px;
}

ul.contact-info {
	list-style: none outside none;
	padding: 0;
}

ul.contact-info li {
	margin-bottom: 10px;
}

ul.contact-info li strong {
	margin-right: 5px;
}

ul.contact-info li a {
	text-decoration: none;
}

ul.contact-info li .phone-number {
	color: #dd2905;
}

.newsletter-form {
	width: 271px;
	height: 171px;
	background: url(images/newsletter-form-bg.gif) no-repeat 0 0;
	margin: 35px auto 0;
}

.newsletter-form h5 {
	color: #fff;
	padding: 15px 0 20px 20px;
}

.newsletter-form form {
	padding-left: 35px;
}

.project-item {
	margin: 20px 0 20px;
}

.project-item .images {
	float: left;
	display: inline;
	width: 294px;
	height: 159px;
	margin-right: 10px;
	overflow: hidden;
}

.project-item .posted-in {
	font-size: 11px;
	color: #777;
}

.project-item h5 {
	line-height: 30px;
	color: #222;
}

.project-item .images {
	padding: 0;
	width: 294px;
	height: 159px;
	border: 2px solid #d9d9d9;
	text-align: center;
}

.project-item p {
	padding-right: 100px;
	margin-bottom: 10px;
}

.project-slider {
	width: 681px;
	height: 271px;
	position: relative;
	overflow: hidden;
	background: url(images/project-slider-bg.jpg) repeat-x 0 0;
	border: 3px solid #d9d9d9;
	border-bottom: 0;
}

.project-slider .project-slider-content {
	position: relative;
	overflow: hidden;
	width: 564px;
	height: 268px;
	z-index: 1;
	margin: 4px 0 0 58px;
}

.project-slider .project-slider-content ul {
	position: relative;
	overflow: hidden;
	list-style-type: none;
}

.project-slider .project-slider-content ul li,.project-slider .jcarousel-clip
	{
	position: relative;
	width: 564px !important;
	height: 268px;
}

.project-slider #next3,.project-slider #prev3 {
	position: absolute;
	width: 35px;
	height: 45px;
	top: 144px;
	left: 10px;
	background: url(images/slider-1-prev.png) no-repeat 0 0;
	z-index: 10;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.project-slider #next3 {
	left: auto;
	right: 10px;
	background: url(images/slider-1-next.png) no-repeat 0 0;
}

.project-slider-thumbs {
	width: 685px;
	height: 59px;
	border: 1px solid #d9d9d9;
}

.project-slider-thumbs ul {
	list-style-type: none;
	padding: 4px 0 0 4px;
}

.project-slider-thumbs ul li {
	float: left;
	display: inline;
	width: 94px;
	height: 50px;
	margin-right: 3px;
}

.project-slider-thumbs ul li a img {
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter: alpha(opacity = 20);
}

.project-slider-thumbs ul li a:hover img,.project-slider-thumbs ul li a.active img
	{
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity = 100);
}

.project-information {
	padding-top: 15px;
}

.project-information h5 {
	font-size: 14px;
	margin-bottom: 5px;
}

.project-information a {
	font-size: 12px;
	font-weight: bold;
}

.service-item {
	margin-bottom: 15px;
}

.service-item h4 {
	display: block;
	font-size: 15px;
	text-decoration: none;
	margin-bottom: 10px;
	text-transform: none;
}

.service-item .images {
	float: left;
	display: inline;
	border: 0;
}

.service-item .images img {
	width: 190px;
}

.service-item p {
	margin-bottom: 10px;
}

.service-item .more {
	display: inline;
}

.testimonials-item {
	margin-bottom: 15px;
	color: #453e34;
}

.testimonials-item p {
	font-size: 14px;
	font-style: italic;
	margin-bottom: 0;
}

.testimonials-item p.author {
	font-style: normal;
	text-align: right;
	font-size: 12px;
	line-height: 15px;
}

.testimonials-item p.author strong {
	font-weight: normal;
	display: block;
}

.service-main-image {
	width: 675px;
	height: 238px;
	border: 6px solid #b9b9b9;
	overflow: hidden;
	margin: 0 auto;
}

.service-description {
	padding: 20px 6px 0;
}

.service-description h5 {
	font-size: 14px;
	margin-bottom: 5px;
	color: #454545;
	text-transform: none;
}

.service-description .service-main-image {
	float: left;
	display: inline;
	border-width: 2px;
	width: 211px;
	height: 145px;
	margin-right: 15px;
}

.service-description .custom-bullet {
	float: left;
	display: inline;
	width: 430px;
}

.service-description .more {
	float: left;
	display: inline;
	text-decoration: none;
	margin-top: 10px;
}

.blog-item {
/* 	margin-bottom: 30px; */
/* 	margin-right: 2%; */
}

.blog-item .post-head {
	height: 24px;
	background-color: #B0C4DE;
	margin-bottom: 5px;
}

.blog-item .post-head .post-date {
	/* float: left; display: inline; width: 154px; height: 32px; position: relative; margin-top: -4px; background: url(images/post-date-bg.gif) no-repeat 0 0; color: #fff; font-weight: bold; text-align: center; line-height: 30px; } */
	color: #000000;
	display: inline;
	float: left;
	height: 32px;
	line-height: 30px;
	margin-top: -4px;
	position: relative;
	text-align: center;
	width: 208px;
}

.blog-item .post-head .comments {
	float: right;
	display: inline;
	color: #454545;
	text-decoration: none;
	line-height: 23px;
	background: url(images/ico-comment.gif) no-repeat 0 8px;
	padding-left: 15px;
	margin-right: 10px;
}

.blog-item .post-head .comments:hover {
	color: #d41806;
}

.blog-item .images {
	float: left;
	display: inline;
	border-color: #e6e6e6;
	margin-right: 10px;
}

.blog-item .read-more {
	width: 114px;
	background: url(images/read-more-btn.gif) no-repeat 0 0;
	color: #454545;
	text-align: center;
	line-height: 23px;
	text-decoration: none;
	
    display: inline;
    float: right;
    height: 35px;
/*     line-height: 34px; */
    padding-left: 2px;
    bottom: 7px;
    position: relative;
}

.blog-item .post-details {
	border-top: 1px solid #dfdfdf;
	color: #454545;
	padding-top: 5px;
	margin-top: 10px;
}

.blog-item .post-details p {
	margin-bottom: 0px;
}

.blog-item .post-details .tags a {
	color: #858585;
	margin-left: 5px;
}

.pagination {
	
}

.pagination ul {
	list-style-type: none;
}

.pagination ul li {
	float: left;
	display: inline;
	height: 30px;
	line-height: 35px;
	margin-right: 2px;
}

.pagination ul li a {
	float: left;
	display: inline;
	height: 30px;
	line-height: 29px;
	padding: 0 12px;
	color: #fff;
	background-color: #ADADAD;
	border-radius: 6px;
}

.pagination ul li a:hover,.pagination ul li a.active {
	background-color: #d41806;
	text-decoration: none;
}

.current-page {
	float: right;
	display: inline;
	color: #d41806;
	padding-top: 5px;
	margin-right: 2%;
}

.red-arrow {
	list-style-type: none;
}

.red-arrow li {
	float: left;
	display: inline;
	background: url(images/red-arrow-bullet.gif) no-repeat 0 8px;
	padding-left: 15px;
	margin-bottom: 4px;
}

.red-arrow li a {
	color: #454545;
	text-decoration: none;
}

.row-2 {
	width: 193px;
	margin-bottom: 7px;
}

.row-2 label {
	float: left;
	display: inline;
	width: 38px;
	font-size: 11px;
	text-transform: uppercase;
	color: #b1b1b1;
	padding-top: 3px;
}

.row-2 .field {
	float: left;
	display: inline;
	width: 135px;
	height: 13px;
	background-color: #3a393a;
	border: 0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px 10px 7px;
	font-size: 11px;
	color: #c4c4c4;
	font-family: Tahoma, Arial, sans-serif;
}

.row-2 .subscribe-btn {
	float: right;
	display: inline;
	width: 69px;
	height: 24px;
	background: url(images/subscribe-btn.gif) no-repeat 0 0;
	border: 0;
	cursor: pointer;
	color: #fff;
	font-family: Tahoma, Arial, sans-serif;
	line-height: 24px;
	padding-bottom: 2px;
}

.comments-holder {
	padding-bottom: 20px;
}

.comments-holder h5.count {
	font-weight: normal;
	color: #858585;
	font-size: 15px;
	background: url(images/ico-comment.gif) no-repeat 0 5px;
	border-bottom: 1px solid #c5c5c5;
	padding: 0 0 7px 17px;
}

.comment-item {
/* 	width: 625px; */
	padding: 1px 0;
	border-bottom: 1px solid #c5c5c5;
	color: #454545;
}

.comment-item a {
	color: #d41806;
	text-decoration: underline;
}

.comment-item a:hover {
	color: #454545;
	text-decoration: none;
}

.comment-item .author-info {
	float: left;
	display: inline;
	width: 150px;
	text-align: right;
	font-size: 11px;
}

.comment-item .author-info a {
	background: url(images/ico-comment.gif) no-repeat 0 2px;
	padding-left: 15px;
}

.comment-item .author-info a {
	background: url(images/ico-comment.gif) no-repeat 0 2px;
	padding-left: 15px;
}

.comment-item .comment-text {
/* 	float: right; */
	display: inline;
	font-size: 12px;
/* 	width: 450px; */
}

.comment-item .comment-text p {
/* 	margin-bottom: 5%; */
	margin-left: 170px;
}

.blogImg-comment {
	height: 75px;
}

.comment-replay {
	float: right;
	display: inline;
	width: 450px;
	background-color: #f5f5f5;
	border: 0;
	padding: 18px 0 10px 0;
	margin-top: 5px;
}

.comment-replay .author-info {
	width: 140px;
}

.comment-replay  .author-info .comment-number {
	background: none;
}

.comment-replay .comment-text {
	width: 100%;
}

.comment-form {
	color: #000;
}

.comment-form h5 {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 15px;
}

.comment-form .msg-alert,.comment-form .msg-thanks {
	width: 100%;
}

.warning {
	height: 36px;
	background: url(images/ico-warning.png) no-repeat 0 0;
	padding-left: 48px;
	margin-top: 19px;
}

.warning h2 {
	color: #fff;
	text-transform: none;
	line-height: 40px;
	text-shadow: 1px 1px 1px #5c080b;
}

.error-404 {
	padding-top: 70px;
}

.error-404 p {
	font-size: 16px;
	color: #000;
	margin: 10px 0 45px;
}

.error-404 .return-btn {
	display: block;
	width: 217px;
	height: 50px;
	background: url(images/return-home-btn.gif) no-repeat 0 0;
	font-size: 17px;
	color: #f4f9ff;
	text-transform: uppercase;
	text-align: center;
	line-height: 46px;
}

.error-404 .return-btn:hover {
	background: url(images/return-home-btn-hover.gif) no-repeat 0 0;
	text-decoration: none;
}

.sitemap ul li a {
	color: #d41806;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 24px;
}

.sitemap ul li ul {
	list-style-type: none;
}

.sitemap ul li ul li {
	background: none;
}

.sitemap ul li ul li a {
	text-transform: none;
	font-weight: normal;
}

.sitemap ul li ul li ul li a {
	color: #a4a4a4;
}

.style-form .row {
	width: 347px;
}

.style-form .row label {
	width: 65px;
	text-align: left;
}

#footer,#footer-push {
/* 	height: 52px; */
}

#footer-error,#footer-push-error {
	height: 46px;
}

.footer-cols {
	height: 270px;
	padding-top: 18px;
	padding-left: 23%;
	background: url(images/footer-cols-bg.gif) repeat-x 0 0;
}

.footer-cols .col {
	width: 168px;
	margin-right: 8px;
}

.footer-cols .col .box {
	width: 168px;
	background-image: url(images/footer-box-bg.gif);
}

.footer-cols .col .box-b {
	background-image: url(images/footer-box-b.gif);
}

.footer-cols .col .box-t {
	background-image: url(images/footer-box-t.gif);
	min-height: 236px;
	padding: 16px 0 0 10px
}

.footer-cols .col .box h5 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}

.footer-cols .col .box ul {
	list-style: none outside none !important;
}

.footer-cols .col .box ul li a {
	color: #b1b1b1;
	line-height: 29px;
}

.footer-cols .col .box ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.footer-cols .col .box-medium {
	width: 225px;
	background-image: url(images/footer-box-bg-medium.gif);
}

.footer-cols .col .box-medium .box-b {
	background-image: url(images/footer-box-b-medium.gif);
}

.footer-cols .col .box-medium .box-t {
	background-image: url(images/footer-box-t-medium.gif);
	overflow: hidden;
}

.footer-cols .subscribe-form {
	margin-top: 13px;
	overflow: hidden;
}

.footer-bottom {
	background-color: #272727;
/* 	height: 34px; */
	padding-top: 12px;
}

.footer-bottom,.footer-bottom a {
	color: #7b7b7b;
}

.footer-bottom  a:hover {
	color: #fff;
	text-decoration: none
}

.footer-bottom .left a {
	font-size: 11px;
	text-transform: uppercase;
}

.footer-bottom .left span {
	color: #363636;
	padding: 0 7px;
}

.pagination {
	margin-left: 48px;
	margin-top: 15px
}

.default-links {
	font-size: 9px;
}

.ajust-search-form {
	padding-bottom: 120px;
	margin-right: -15px;
}

#tb1,#content-table{
	width: 100%;
}