body {
    margin:10px 30px 20px 25px; 
    font-family:arial,helvetica,sans-serif; 
    font-size:75%;
}

form {
    margin:0;
}

a {
    text-decoration:none;
}

#header {
    height:60px;
    background-image:url(../img/header_bkgrd.gif); 
    margin-bottom:20px;
}
     
#leftCol {
    position:absolute; 
    left:30px; 
    top:80px; 
    width:120px;
}

#leftMenuTop {
    width:120px; 
    height:19px; 
    background-image:url(../img/leftCol_top.png); 
    background-repeat:no-repeat;
}

#leftMenuBody {
    border-left:solid 1px #bfbfbf; 
    border-right:solid 1px #bfbfbf;
}

#leftMenuBody ul {
    margin:0; 
    padding:0; 
    list-style:none; 
    border:solid 1px #fff;
    border-top:none;
}

#leftMenuBody ul li {
    height:auto !important; 
    height:24px; 
    min-height:24px; 
    background-color:#f5f5f5; 
    background-image:url(../img/leftMenuOff_bkgrd.gif); 
    background-repeat:no-repeat; 
    background-position:0 100%; 
    border-top:solid 1px #fff; 
    padding:6px 0px 0px 8px;
}

#leftMenuBody ul li.active {
    background-image:url(../img/leftMenuOn_bkgrd.gif);
}

#leftMenuBody ul li a {
    color:#474764; 
    background-image:url(../img/p_menu_off.gif); 
    background-repeat:no-repeat; 
    background-position:0 50%; 
    padding-left:10px;
}

#leftMenuBody ul li.active a {
    background-image:url(../img/p_menu_on.gif); 
    font-weight:bold;
}

#leftMenuBody ul li a:hover {
    background-image:url(../img/p_menu_on.gif); 
    color:#000;
}

#leftMenuBottom {
    background-image:url(../img/leftCol_bottomBkgrd.gif); 
    background-repeat:no-repeat; 
    height:71px;
}

#mainContainer {
    margin:0px 0px 0px 140px; 
    min-height:420px; 
    height:auto !important; 
    height:420px;
}

#mainContainer h1 {
    color:#474764; 
    font-weight:normal; 
    background-image:url(../img/titre_bkgrd.gif); 
    background-repeat:repeat-x; 
    background-position:0 100%; 
    margin:0 0 10px 0; 
    font-size:150%; 
    padding-bottom:8px;
}

#mainContainer h3 {
    font-size:100%; 
    color:#474764; 
    margin:0 0 6px 0;
}


.simpleModuleSelect {
    margin-bottom:20px;
}

.simpleModuleSelect label {
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8; 
    font-size:90%; 
    margin-right:5px;
}

.doubleModuleSelect { 
    float:left; 
    padding:15px 0px 0px 0px;
}

.doubleModuleSelect label {
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8; 
    font-size:90%; 
    margin-right:5px; 
    width:100px; 
    text-align:right;  
    float:left;
    padding-top:3px;
}

#mainContainer .doubleModuleSelect select {
    width:160px; 
    height:19px; 
    font-size:11px;
}

.doubleModuleSelect .inputText1 {
    width:423px; 
    height:14px; 
    font-size:11px;
}

.inputText2{
    height:16px; 
    font-size:12px;
}

.inputText3 {
    width:80%; 
    height:70px; 
    font-size:12px; 
    font-family:arial,helvetica,sans-serif;
}

.inputText4 {
    width:60%; 
    height:30px; 
    font-size:11px; 
    font-family:arial,helvetica,sans-serif;
}

.inputText5 {
    width:30%; 
    height:14px; 
    font-size:11px;
}

td.urlDest {
    color:#999;
}

table.simple2lines2cols {
    margin-left:10px;
}

table.simple2lines2cols td {
    /*font-size:90%;*/
    max-width:120px;
    padding:4px 0px 3px 0px;
}

table.simple2lines2cols td.border{
    border-bottom: solid 1px #ebeff1;
}

table.simple2lines2cols td a {
    color:#d81e05;
}

table.simple2lines2cols td a:hover {
    text-decoration:underline;
}

table.simple2lines2cols td label{
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8;
    text-align:left;
    margin-right:10px;
    width: 170px;
    float:left;
}

table.simple2lines2cols td input{
    width: 250px;
    height: 18px;
}

table.simple2lines2cols td select{
    width: 255px;
    height: 22px;
}
table.simple2lines2cols td .textWrapper {
    font-size:11px; 
    float:left;
    padding-top:4px;
}


table.simple2lines3cols {
    margin-left:10px;
}

table.simple2lines3cols td {
    /*font-size:90%;*/
    max-width:120px;
    padding:4px 0px 3px 0px;
}

table.simple2lines3cols td.border{
    border-bottom: solid 1px #ebeff1;
}

table.simple2lines3cols td label{
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    font-size: 11px;
    color:#9ba6b8;
    text-align:left;
    margin-right:10px;
    width: 160px;
    float: left;
}

table.simple2lines3cols div.first{
    float: left; 
    width: 22px;
}

table.simple2lines3cols .text{
    width: 175px;
    height: 16px;
    float: left;
}

table.simple2lines3cols td select{
    width: 180px;
    height: 22px;
}


#mainContainer table.selectable {
    margin-left:5px;
}

#mainContainer table.selectable select {
    height:auto; 
    width:340px; 
    border:solid 1px #a9a9a9;
}

.quicklink {
    vertical-align: bottom; 
    padding-top: 5px;
}

.quicklink a {
    color:#0f4c90 !important; 
    background-image:url(../img/quick_link.gif); 
    background-repeat:no-repeat; 
    padding:0px 0px 0px 15px; 
    background-position:0 50%;
}

.selectorCell img {
    margin:5px;
}

.moveSelectionCell img {
    margin:5px 0;
}

#borderedDiv {
    border:solid 1px #e0e0e0; 
    position:relative; 
    min-width: 800px; 
    max-width: 1300px; 
    background-color:#f7f7f7/*fcfcfc*/;
}

#borderedDiv span.leftTop {
    display:block; 
    width:9px; 
    height:7px; 
    background-image:url(../img/div_coin_G_top.gif);
    background-repeat:no-repeat; 
    position:absolute; 
    left:-1px; top:-1px;
}

#borderedDiv span.rightTop {
    display:block; 
    width:10px; 
    height:7px; 
    background-image:url(../img/div_coin_D_top.gif); 
    background-repeat:no-repeat; 
    position:absolute; 
    right:-1px; 
    top:-1px;
}

#borderedDiv span.leftBottom {
    display:block; 
    width:10px; 
    height:7px; 
    background-image:url(../img/div_coin_G_bottom.gif); 
    background-repeat:no-repeat; position:absolute; 
    left:-1px; 
    bottom:-1px; 
    _bottom:-10px;
}

#borderedDiv span.rightBottom {
    display:block; 
    width:10px; 
    height:7px; 
    background-image:url(../img/div_coin_D_bottom.gif); 
    background-repeat:no-repeat;
    position:absolute; 
    right:-1px; 
    bottom:-1px; 
    _bottom:-10px;
}


.sub-borderedDiv {
    border:solid 1px #e0e0b0; 
    position:relative;
    background-color:#f7f7e7;
    width:280px; 
    left:10px; top:15px;
}

.sub-borderedDiv  table{ 
    margin-left: 5px;
}

.sub-borderedDiv  label { 
    margin-left: 5px;
    width:110px !important; 
    color:#9ba6b8; 
    padding-top:5px; 
    text-align:left;
    margin-right:10px;
    font-size: 11px !important;
}

.hubo_confirmBtnPanel {
    border-top:solid 1px #ebeeef; 
    padding:6px 0px 20px 0px;
    margin:0px 15px 15px 15px;
}

.hubo_confirmBtnPanel_no_border {
    padding:6px 0px 20px 0px;
    margin:0px 15px 15px 15px;
}

.hubo_confirmBtnPanel a, .hubo_confirmBtnPanel input {
    float:right; 
    margin-left:8px;
}

.maam_actionPanel {
    float:left;
    padding:6px 0px 20px 0px;
    margin:0px 15px 8px 15px;
}

.maam_actionPanel a {
    margin-left:8px;
}


a.genaActionLink {
    display:block; 
    width:100px;
    height:22px; 
    color:#fff; 
    background-image:url(../img/btnRouge100_bkgrd.gif); 
    background-repeat:no-repeat; 
    text-align:center; 
    font-size:10pt; 
    font-weight:bold; 
    padding:3px 0px 0px 0px;
    margin-top:4px; 
    border:none; 
    background-color:transparent;
}

input.huboBtnLink100 {
    display:block; 
    width:100px; 
    height:22px; 
    color:#fff; 
    background-image:url(../img/btnRouge100_bkgrd.gif); 
    background-repeat:no-repeat; 
    text-align:center; 
    font-size:90%; 
    font-weight:bold; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:4px; 
    border:none; 
    background-color:transparent;
}

a.huboBtnLink100 {
    display:block; 
    width:100px; 
    height:22px; 
    color:#fff; 
    background-image:url(../img/btnRouge100_bkgrd.gif); 
    background-repeat:no-repeat; 
    text-align:center; 
    font-size: 10pt; 
    font-weight:bold; 
    padding:3px 0px 0px 0px; 
    margin-left:auto; 
    margin-right:50px; 
    margin-top:4px; 
    border:none; 
    background-color:transparent;
}

a.huboGreyBtnLink100 {
    display:block; 
    width:100px; 
    height:22px; 
    color:#fff; 
    background-image:url(../img/btnGris100_bkgrd.gif); 
    background-repeat:no-repeat; 
    text-align:center; 
    font-size:90%; 
    font-weight:bold; 
    padding:3px 0px 0px 0px; 
    margin-left:auto; 
    margin-right:auto; 
    margin-top:4px;
}

.noBorder {
    border:none;
}

.clearFix {
    clear:both; 
    font-size:1px;
}

.spacer5 {
    font-size:1px;
    height:5px;
}

.externalConfirmPanel {
    width:90%; 
    padding:20px 0px 20px 0px;
}

.externalConfirmPanel .hubo_confirmBtnPanel {
    margin:0;
}

/* .selectMultiTop { */
/*     background-image:url(../img/selMulti_top.gif);   */
/*     width:263px;  */
/*     height:16px;  */
/*     font-size:90%;  */
/*     font-family:verdana,geneva,sans-serif;  */
/*     color:#fff;  */
/*     font-weight:bold;  */
/*     padding:3px 0px 0px 5px; */
/* } */

/* .selectMultiBottom { */
/*     background-image:url(../img/selMulti_bottom.gif);   */
/*     width:270px;  */
/*     height:6px; */
/* } */

.stickerTmpl label{
    width:105px; 
    float:left; 
    text-align:right; 
    padding:3px 0px 0px 10px;
}

.stickerDetailPanel2 td {
    border-bottom:none;
}

#homeContainer {
    text-align:left; 
    padding-bottom: 15px;
}

#footer {
    border-top : solid 1px #ebeaf3; 
    padding-top:5px; 
    color:#d9dadb; 
    text-align:right; 
    font-family:verdana,geneva,sans-serif; 
    font-size:80%;
}

.textSticker{ 
    width:100px
}

.textStickerHeader{ 
    font-size:0px; 
    line-height:0px; 
    height:1px; 
}

.textStickerBody{ 
    font-weight:bold; 
    padding-left:10px; 
    padding-right:10px; 
    border-style:solid; 
    border-color:#dcd7d8; 
    border-width: 0px 2px 0px 0px; 
}

.textStickerBottom{ 
    font-size:0px; 
    line-height:0px; 
    height:1px; 
    border-style:solid; 
    border-color:#dcd7d8; 
    border-width: 0px 2px 2px 0px; 
}

.textStickerBodyContainer, .textStickerBottomContainer{ 
    border-style:solid; 
    border-color:#efeaeb; 
    border-width: 0px 1px 0px 0px; 
}

.textStickerBodyContainer{ 
    margin-left:10px; 
    margin-right:10px; 
}

.textStickerBottomContainer{ 
    margin-left: 11px; 
    margin-right: 11px; 
}

.textStickerShadowBottom{ 
    margin-left: 12px; 
    margin-right: 12px; 
    font-size:0px; 
    line-height:0px; 
    height:1px; 
    background-color:#efeaeb; 
}


/** Styles pour le menu horizontal du haut*/
#topMenu {
    padding-bottom:8px;
    margin:0px 0px 0px 140px; 
    height:25px; 
    background-image:url(../img/home_bkgrd.jpg); 
}

#topMenu .topMenuContainer{
    width:100%%;
    height:20px;
    margin-left:65px;
    background:#efefef;
    line-height:normal;
    border-bottom:1px solid #666;
}

#topMenu ul {
    list-style-type : none;
    background-color:#efeaeb;
}

#topMenu li {
    padding : 0 15px;
    float : left;
}

#topMenu a {
    background-image:url(../img/p_retour_accueil.gif); 
    background-repeat:no-repeat; 
    background-position:0px 0px; 
    color:#666; 
    padding:1px 15px 2px 18px; 
    display:inline;
    width:83px;
}

#topMenu ul li a.on {
    font-weight:bold;
    background-color:#cecece;
    font-size:11px;
}

#topMenu a:hover {
    text-decoration:underline;
}

/** Styles pour la page principale des libellï¿½s*/
table.simple2lines2colsLibelle {
    margin-left:10px;
}

table.simple2lines2colsLibelle td label, .stickerDetailPanel label {
    width:110px; 
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8; 
    font-size:90%; 
    float:left;
    text-align:right;
    margin-right:10px;
}


table.simple2lines2colsLibelle td .textWrapper {
    font-size:11px; 
    float:left;
}


table.simple2lines2colsLibelle caption{
    text-align:left;
    padding-bottom:12px;
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8;
    font-size:90%;
    font-weight:bold; 
}

table.gmcValuesTable td label{
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8;
    font-size:100%;
}

table.urlValuesTable td label{
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8;
    font-size:100%;
}

.message{
    font-size:13px;
    font-style:italic;
    color:#e31a15;
    padding-left:10px;
}

/******************************** Style pour le tableau **********************/

.myDataTable {
    width: 100%;
    margin: 10px 0 15px 0 !important;
}

.myDataTable  td {
    padding: 2px 4px 2px 4px !important;
    text-align: left;
    vertical-align: top;
}

.myDataTable  th a:hover {
    color: black;
}

.myDataTable thead tr{
    background-image:url(../img/table_top_bkgrd.gif); 
    height:24px; 
    background-repeat:repeat-x;
}

.myDataTable  thead tr th {
    text-align:center; 
    font-family:verdana,geneva,sans-serif; 
    font-size:100%; 
    color:#9ba6b8;
}

.myDataTable  thead tr th.first {
    /*background:url(../img/table_coin_G_top.gif) no-repeat;*/
    width:100px;
}

.myDataTable  thead tr th.last {
    background-image:url(../img/table_coin_D_top.gif);
    background-repeat:no-repeat; 
    background-position:100% 0; 
    width:50px;
    padding-left: 25px;
}

.myDataTable  tbody td.first{
    background-image:url(../img/table_leftSide.gif); 
    background-repeat:repeat-y;
}

.myDataTable  tbody td.last{
     background-image:url(../img/table_rightSide.gif); 
     background-repeat:repeat-y; 
     background-position:100% 0;
}

.myDataTable td {
    font-size:90%; 
    padding:4px 0px 3px 0px; 
    border-bottom: solid 1px #ebeff1;
    text-align:center;
}

.myDataTable  th.sorted a,th.sortable a {
    background-position: left;
    display: block;
    width: 100%;
}

.myDataTable tr.footer {
    background-image:url(../img/table_bottom_bkgrd.gif); 
    height:6px; 
    background-repeat:repeat-x;
}

.myDataTable tr.footer td {
    border-bottom:none;
}

.myDataTable td.firstBottom {
    background-image:url(../img/table_coin_G_bottom.gif); 
    background-repeat:no-repeat;
}

.myDataTable td.lastBottom {
    background-image:url(../img/table_coin_D_bottom.gif); 
    background-position:100% 0; 
    background-repeat:no-repeat;
}


span.pagebanner {
    padding: 2px 4px 2px 4px;
}


#maam_form_ctn{
    display: none;
    margin: 10px 20px 30px 20px;
}

h2.maam_form_title{
    font-weight:bold; 
    font-family:verdana,geneva,sans-serif; 
    color:#9ba6b8; 
    font-size:16pt;
    margin:10px 20px;
}

.maam_line{
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.groupInfo{
	margin-left:20px;
}

/** Affichage d'une branche dans l'arbre de recherche d'historique **/
.historyElementBlocInfo{
	margin-left:35px;
}

#borderedDiv.resultZone a {
    text-decoration:none;
    font-weight: bold;
    font-family:verdana,geneva,sans-serif; 
    color:#000000;
}

#memberInfo{
	margin-left:50px;
}

#complementInfo{
	margin-left:80px;
}
/* style pour encadrer en rouge les cellules des champs en erreurs */
input.error-input {border-style: solid; border-width:2px; border-color: #CC0000;}

select.error-input {border-style: solid; border-width:2px; border-color: #CC0000;}