* { padding: 0; margin: 0; outline: 0; }
body { font: 14px/22px Arial, sans-serif; text-align: left; }
body, html { height: 100%;  }

a { color: #1C7396; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }

a img { border: 0; }
a.img img { display: block; }

input, select, textarea { font: 11px Arial, sans-serif; color: #000; }
.field, textarea { background: #fff; border: 1px solid #ccc; }

input.checkbox, input.radio { float: left; display: inline; height: 13px; width: 13px; margin: 2px 5px 0 0; }
label.checkbox, label.radio { float: left; display: inline; line-height: 13px; }

input.submit { border: 0; cursor: pointer; }

input::-moz-focus-inner { border: none; padding: 0; }

textarea { overflow: auto; }
fieldset { border: 0; padding-bottom: 15px; }

ul, ol { list-style: none outside none; }

.ar { display: block; text-align: right; }
.al { display: block; text-align: left; }
.ac { display: block; text-align: center; }

.fr, .alignright { float: right !important; display: inline; }
.fl, .alignleft { float: left !important; display: inline; }

.cl { display: block; clear: both; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.hidden { display: none; }
.rel { position: relative; }

#page { min-height: 100%;  height: auto !important; height: 100%; margin: 0 auto; overflow: hidden;} /* The bottom margin is the negative value of the footer's height */ 
.footer-push { height: 318px; }


/* .shell { width: 973px; margin: 0 auto; } */
.shell {
  margin: 0 auto;
/*     padding-left: 125px; */
    padding-left: 12px;
/*     width: 973px; */
}

header, nav, section, article, hgroup, footer { display: block; }

h2, h3, h4, h5 { }
h2 {}
h3 {}
h4 {}
h5 {}

p { padding-bottom: 15px; }
small { font-size: 10px; }

/*
	Header
*/

header { position: relative; height: 52px; }

nav { position: absolute; top: 0; right: 0; height: 52px; padding: 0 0 0 3px; }
nav li { float: left; display: inline; padding: 0 2px 0 0; font: bold 12px/52px Arial, sans-serif; }
nav li a { float: left; display: inline; padding: 0 14px 0 16px; }
nav li a:hover,
nav li a.active { background-position: 0 -52px; text-decoration: none; }

/*
	Content
*/

#content { padding: 0 0 40px; }

/*
	Featured Content
*/

#featured-content { height: 400px; position: relative; z-index: 1; }
#featured-content .shell { position: relative; }
#featured-content h2 { padding: 60px 0 0; font: bold 42px Arial, sans-serif; }
#featured-content p { width: 440px; font-size: 15px; line-height: 24px; }
#featured-content .container { position: relative; overflow: hidden; height: 400px; width: 973px; }
#featured-content .item { position: absolute; top: 0; left: 0; width: 973px; height: 400px; }

#featured-content .item-1 img { position: absolute; top: 25px; right: 0; }
#featured-content .item-2 .video-holder { position: absolute; width: 470px; height: 269px; top: 25px; right: 10px; border: 1px solid #959595;  -moz-box-shadow: 0 0 10px rgba(0,0,0,.28); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.28); box-shadow: 0 0 10px rgba(0,0,0,.28); }
#featured-content .item-3 img { position: absolute; top: 25px; right: 0; }


#featured-content .nav { position: absolute; top: 307px; left: 50%; z-index: 9999; }
#featured-content .nav li { float: left; display: inline; margin: 0 2px; }
#featured-content .nav li a { display: block; width: 19px; height: 19px; }
#featured-content .nav li a:hover,
#featured-content .nav li a.active { background-position: 0 -19px; }

/*
	Gallery
*/

/* #gallery { position: relative; margin-top: -38px; z-index: 2; } */
#gallery .nav { position: relative; height: 95px;  margin-top:44px;}
#gallery .nav li { position: relative; float: left; display: inline; margin: 0 18px 0 0; font: bold 15px/50px Arial, sans-serif; }
#gallery .nav li a { float: left; display: inline; padding: 0 23px; }
#gallery .nav li .shadow { position: absolute; top: 37px; left: -23px; width: 23px; height: 15px; background: url(images/gallery-nav-shadow.png); }

#gallery .nav .colors { position: absolute; top: 66px; left: 0; width: 65px; height: 12px; }

/* #gallery .container { position: relative; overflow: hidden; *width: 1016px; height: 819px;clear: both; } */
#gallery .list-thumbs { position: relative; /**overflow: hidden; width: 1016px;**/ }
#gallery .list-thumbs ul { position: relative; margin-right: -43px;/** width: 1016px;*/ }
#gallery .list-thumbs li { float: left; display: inline; width: 295px; height: 273px; margin: 0 43px 0 0; }
#gallery .list-thumbs .box { padding: 12px; height: 198px; -moz-box-shadow: 5px 5px 5px rgba(0,0,0,.05); -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.05); box-shadow: 5px 5px 5px rgba(0,0,0,.05); }
#gallery .list-thumbs .box img { display: block; }
#gallery .list-thumbs .box .info { display: none; position: relative; overflow: hidden; padding: 7px 0 0; }
#gallery .list-thumbs .box  h3 { padding: 2px 0 2px 15px; font: bold 14px Arial, sans-serif; }
#gallery .list-thumbs .box .category { float: right; display: inline; font-size: 9px; }

.btn-1 { display: inline-block; padding: 0 18px; font: 10px/16px Arial, sans-serif;  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.40); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.40); box-shadow: 0 1px 3px rgba(0,0,0,.40); }
.btn-1:hover { text-decoration: none; background-position: 0 -16px; }

/*
	Blog
*/
#blog { position: relative; top: 40px; margin: 0 0 80px; height: 100%; }

#blog #widecolumn { float: left; display: inline; width: 674px; }
#blog aside { float: right; display: inline; width: 265px; }

.post { margin: 0 0 40px; }
.post:last-child { margin: 0 0 20px; }
.post hgroup { padding: 0 0 25px; }
.post h2 { font: 30px Arial, sans-serif; }
.post .top-meta { position: relative; height: 24px; margin: 0 0 10px; font: 12px/16px Arial, sans-serif; }
.post .top-meta .category { float: left; display: inline; margin: 0 5px 0 0; line-height: 19px; }
.post .top-meta .comments  { float: left; display: inline; line-height: 19px; font-size: 11px; }
.post .top-meta .comments span { float: left; display: inline; width: 32px; height: 24px; margin: 0 5px 0 0; text-align: center; font-weight: bold; }

.post img { padding: 4px; -moz-box-shadow: 3px 3px 5px rgba(0,0,0,.10); -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,.10); box-shadow: 3px 3px 5px rgba(0,0,0,.10); }
.post img.alignleft { margin: 0 20px 20px 0; }
.post img.alignright { margin: 0 0 20px 20px; }
.post .post-entry p { text-indent: 20px; }
.post .bottom-meta a { display: inline-block; margin: 0 0 0 7px; font-size: 12px; text-decoration: underline; }
.post .bottom-meta a:hover { text-decoration: none; }

.paging { position: relative; overflow: hidden; height: 25px; }
.paging a { float: left; display: inline; padding: 0 7px; margin: 0 12px 0 0; font: 13px/22px Arial, sans-serif;  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;  -moz-box-shadow: inset -2px 2px 2px rgba(0,0,0,.30); -webkit-box-shadow: inset -2px 2px 2px rgba(0,0,0,.30); box-shadow: inset -2px 2px 2px rgba(0,0,0,.30); }
.paging a span { float: left; display: inline; height: 22px; }
.paging a.prev span { padding: 0 0 0 15px; }
.paging a.next span { padding: 0 15px 0 0; }
.paging a:hover { text-decoration: none; }

#blog aside > ul > li { margin: 0 0 35px; }
#blog aside h3 { padding: 0 0 25px; font: 30px Arial, sans-serif; }

#blog .list-1 li { line-height: 33px; }
#blog .list-1 li a { display: block; padding: 0 0 0 20px; }

#blog .list-2 li { line-height: 33px; }
#blog .list-2 li a { display: block; padding: 0 0 0 20px; }
#blog .list-2 li a.active { font-weight: bold; }

#blog .list-2 li ul { display: none; position: relative; overflow: hidden; width: 235px; padding: 0 70px 10px 20px;  }
#blog .list-2 li li { float: left; display: inline; margin: 0 6px 0 0; font-size: 12px; line-height: 27px; height: auto;  }
#blog .list-2 li li:first-child { text-indent: 10px; }
#blog .list-2 li li a { display: inline; padding: 0; }


#blog aside .tag-cloud { text-align: justify; }
#blog aside .tag-cloud li { display: inline; line-height: 1; margin: 0 5px; }
#blog aside .tag-cloud li a { margin-right: auto; }

#blog aside .ads { position: relative; overflow: hidden; }
#blog aside .ads li { float: left; display: inline; width: 132px; margin: 0 0 19px; }

#blog .comments h3 { margin: 0 0 15px; font: 20px Arial, sans-serif; }
#blog .comments li { position: relative; overflow: hidden; padding: 25px 0 40px; }

#blog .comments .user { float: left; display: inline; width: 150px; margin: 0 24px 0 0; text-align: right; }
#blog .comments .user strong { display: block; font-size: 16px; }
#blog .comments .user span { display: block; font-weight: bold; line-height: 21px; }
#blog .comments .user span a { padding: 2px 0 5px 27px; text-decoration: underline; }
#blog .comments .user span a:hover { text-decoration: none; }
#blog .comments .user small { display: block; }
#blog .comments .message { float: left; display: inline; width: 497px; }

#blog .comments li.comment-reply { width: 517px; padding:  20px 0; margin: 0 0 30px 151px; }
#blog .comments li.comment-reply .message { width: 335px; }

#blog .post-comment form { position: relative; }
#blog .post-comment h3 { padding: 0 0 25px; margin: 0 0 40px; }
#blog .post-comment fieldset { position: relative; overflow: hidden; padding: 0; margin: 0 0 17px; }
#blog .post-comment label { float: left; display: inline; width: 140px; margin: 0 14px 0 0; font-size: 12px; line-height: 32px; text-align: right; }
#blog .post-comment .field { float: left; display: inline; width: 345px; padding: 8px 14px 7px; font-size: 12px; }
#blog .post-comment .error-message { position: absolute; top: -35px; left: 154px; width: 373px; height: 25px; line-height: 25px; text-align: center; }
#blog .post-comment .submit { display: block; width: 85px; height: 20px; margin: 0 0 0 155px; border: 1px solid #2d2928; background-color: #4f473f; }
#blog .post-comment textarea.field { width: 404px; height: 194px; padding: 7px; resize: vertical; }


.btn-reply { padding: 0 12px 0 6px; }
.btn-reply span { float: left; display: inline; padding-left: 18px; }

/*
	Footer
*/

footer { height: 358px; position: relative; z-index: 3; }
footer .view-more { position: absolute; top: -18px; left: 50%; margin-left: -42px; width: 84px; height: 18px; font-size: 11px; line-height: 18px;  -moz-border-radius: 3px 3px 0 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; }
footer .view-more:hover { text-decoration: none; background-position: 0 -18px; }
footer .view-more span { display: block; padding: 0 0 0 19px; background-position: 9px; background-repeat: no-repeat; }
footer .footer-top { position: relative; overflow: hidden; height: 281px; min-width: 973px; padding: 40px 0 0; }
footer h4 { margin: 0 0 25px; font: bold 16px Arial, sans-serif; }
footer .col { float: left; display: inline; }
footer .col-1 { width: 260px; margin: 0 55px 0 0; }
footer .col-2 { margin: 0 55px 0 0; }
footer .col-3 { width: 265px; }

footer .tweets { font-size: 11px; }
footer .tweets li { margin: 0 0 15px; }
footer .tweets .tweet_text { display: block; font-size: 11px; line-height: 20px; }
footer .tweets .tweet_date { display: block; font-size: 9px; line-height: 20px; }

footer .tweets a { text-decoration: none; }
footer .tweets a:hover { text-decoration: underline; }


footer .socials { width: 266px; height: 152px; padding: 20px; margin: 0 0 3px; -moz-box-shadow: 0 0 3px rgba(0,0,0,.60); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.60); box-shadow: 0 0 3px rgba(0,0,0,.60); }
footer .socials ul { width: 110px; }
footer .socials ul li { padding: 0 0 12px 0; margin: 0 0 14px; font-size: 10px; line-height: 32px; }
footer .socials ul li a { display: block; height: 32px; padding: 0 0 0 40px; }
footer .socials ul li:last-child { padding-bottom: 0; margin: 0; border: 0; }
footer .socials ul li.facebook a{ background: url(images/icon-facebook.png) no-repeat 0 0; }
footer .socials ul li.twitter a { background: url(images/icon-twitter.png) no-repeat 0 0; }
footer .socials ul li.linkedin a{ background: url(images/icon-linkedin.png) no-repeat 0 0; }
footer .socials ul li.flickr a{ background: url(images/icon-flickr.png) no-repeat 0 0; }
footer .socials ul li.behance a{ background: url(images/icon-behance.png) no-repeat 0 0; }
footer .socials ul li.digg a { background: url(images/icon-digg.png) no-repeat 0 0; }

footer .col-3 form { position: relative; margin-top: -5px;  }
footer .contact-form .success { display: none; position: absolute; top: 0; left: 0; width: 270px; height: 30px; line-height: 30px; border: 1px solid #4fb427; background: #5cef22; color: #fff; text-align: center; }
footer .col-3 p { font-size: 11px; line-height: 16px; }
footer .col-3 .row { position: relative; overflow: hidden; margin: 0 0 5px; }
footer .col-3 .field { display: block; width: 106px; padding: 2px 6px; font: 11px Arial, sans-serif; }
footer .col-3 .LV_valid { position: absolute; top: 3px; left: 125px; width: 11px; height: 11px; background: url(images/valid.png); font-size: 0; line-height: 0; text-indent: -4000px; }
footer .col-3 .LV_invalid { position: absolute; top: 1px; left: 125px; padding: 0 0 0 16px; font: 11px/19px Arial, sans-serif; white-space: nowrap; }
footer .col-3 .row-message .LV_invalid { top: 82px; left: 0; }
footer .col-3 .row-message .LV_valid { display: none;  }
footer .col-3 textarea.field { display: block; width: 177px; height: 67px; padding: 6px; margin: 0 0 18px; resize: vertical; }
footer .col-3 .submit { width: 85px; height: 20px; border: 1px solid #2D2928; }

footer .footer-bottom { font-size: 11px; line-height: 36px; color: #c5c4c3; height: 36px; }